﻿@using PoVendorPort.Models
@model ChangePasswordViewModel

@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="container">
    <h3>Thay dổi mật khẩu</h3>    
    <div class="row">                
        <div class="col-md-12">            
            @using (Html.BeginForm("ChangePass", "Account", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger login-error col-md-offset-4" })
                <div class="form-group">
                    @Html.LabelFor(e => e.OldPassword, new { @class = "control-label col-md-offset-2 col-md-2" })
                    <div class="col-md-6">
                        @Html.PasswordFor(e => e.OldPassword, new { @class = "form-control", autofocus = "autofocus" })
                        @Html.ValidationMessageFor(e => e.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(e => e.NewPassword, new { @class = "col-md-offset-2 col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(e => e.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(e => e.ConfirmPassword, new { @class = "col-md-offset-2 col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(e => e.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-2">
                        <button class="btn btn-default">Đổi mật khẩu</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

