﻿@using PoVendorPort.Models
@model LoginViewModel

@{
    ViewBag.Title = "Đăng nhập";
}


@if (!Request.Browser.IsMobileDevice)
{
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger login-error col-md-offset-4" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-offset-2 col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-offset-2 col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-6">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-6">
                            <button type="submit" class="btn btn-default general-button">
                                <div>Đăng nhập</div>
                            </button>
                        </div>
                    </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
        <!--div class="col-md-4">
            <section id="socialLoginForm">
                @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
            </section>
        </div-->
    </div>
}
else
{
    <style>
        .navbar-fixed-top {
            display: none !important;
        }

        body {
            /*background-color: black !important;*/
            background-image: url('../../Image/bg_1564731891.png');
            background-position:center;
        }
    </style>



    <div class="text-center" style="padding:15px;">
        <img style="width:50%" src="~/Image/logo.ico" />
        <h1><b style="color:white">Vendor portal</b></h1>

        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger login-error col-md-offset-4" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-offset-2 col-md-2 control-label", @style = "color:white;float: left;" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus", @style = "height:8%;border-radius:10px; max-width:100%" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-offset-2 col-md-2 control-label", @style = "color:white;float: left;" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "height:8%;border-radius:10px; max-width:100%" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-6">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new {@style="color:white" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-6">
                        <button type="submit" class="btn btn-primary" style="margin-top:10%; border-width:2px; color: white; border-color:white">
                            <div>Đăng nhập</div>
                        </button>
                    </div>
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}