﻿@using PoVendorPort.Models
@model ApprovedPurchaseOrdersViewModel

@{
    var todayDateString = DateTime.Now.ToString("yyyy-MM-dd");
}
<h3>Xem số đơn hàng đã duyệt</h3>
<div class="container">
    <div class="row">
        @*
        @using (Html.BeginForm("", ""))
        {*@
            <div class="col-md-4">
                <div class="">
                    @Html.LabelFor(e => e.FromDate, new { @class = "control-label header" })                    
                    @Html.EditorFor(e => e.FromDate, new { htmlAttributes = new { @class = "form-control", id="from-date", max = todayDateString} })
                    @Html.ValidationMessageFor(e => e.FromDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="">
                    @Html.LabelFor(e => e.ToDate, new { @class = "control-label header" })                    
                    @Html.EditorFor(e => e.ToDate, new { htmlAttributes = new { @class = "form-control", id="to-date", max = todayDateString} })
                    @Html.ValidationMessageFor(e => e.FromDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div class="header">Số đơn hàng đã duyệt</div>                    
                    <div id="approved-count" class="form-control" style="background:transparent;border:none; box-shadow:none"></div>
                </div>
            </div>
        @*}*@
    </div>
</div>

@section Scripts {
    <script>
        var approvedPos = @Html.Raw(Json.Encode(Model.ApprovedPurchaseOrders));
        var updateApprovedCountDisplay = function(){            
            var fromDate = new Date($("#from-date").val());
            fromDate.setHours(0,0,0,0);
            var toDate = new Date($("#to-date").val());
            toDate.setHours(0,0,0,0);  
            
            var ac = approvedPos.reduce(function(c,e){                
                var d = new Date(e.LastApprovedValidJsDateString);
                d.setHours(0,0,0,0);                               
                if(d >= fromDate && d <= toDate){
                    c++;                    
                }                
                return c;
            },0);
            $("#approved-count").html(ac);
        }
        $("#from-date, #to-date").change(function(e){
            if(this.id == "from-date"){
                $("#to-date")[0].min = this.valueAsDate.toJSON().slice(0,10);
            } else {
                $("#from-date")[0].max = this.valueAsDate.toJSON().slice(0,10);
            }
            updateApprovedCountDisplay();
        });
        updateApprovedCountDisplay();
    </script>
}

