﻿@using PoVendorPort.Models
@using PoVendorPortCommon.Models
@using PoVendorPort.Controllers
@model HomeViewModel

@{
    ViewBag.Title = "Bibo Mart - Vendors' Portal";
    var checkAccessTokenUrl = Url.Action(nameof(HomeController.CheckAccessTokenValiditiy), "Home");
    var getAccessTokenUrl = Url.Action(nameof(HomeController.GetAccessToken), "Home");
    var approvePoUrl = Url.Action(nameof(HomeController.ApprovePo), "Home");
}
<div class="title">
    <h3 class="text-center">Duyệt đơn hàng</h3>    
</div>
<div class="vendor-name">
    <label style="margin-right:5px;margin-left:5px">Vendor:</label>
    <span>@Model.LoggedInVendor.VietnameseName</span>
</div>
<div class="po-list expanded" id="pos">
    <div class="header">
        <div class="po-list-caption">
            Đơn hàng
        </div>
        <div>
            <label>Tìm</label><input type="text" class="cool-text-input" placeholder="Mã đơn hàng..." id="po-search"/>
        </div>
        <button class="nav-button"><span class='glyphicon glyphicon-chevron-left'></span></button>
    </div>
    <div class="body default-skin">
        @Html.Partial("_PoListPartialView", Model.LoggedInVendor)
    </div>
</div>

<div id="approve-errors" class="noerror text-danger"></div>
@using (Ajax.BeginForm("UpdatePO", "Home", null, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "submitSuccess", OnComplete = "submitComplete"}, new { id = "submit-form" }))
{
<div class="purchase-items-list panel panel-default" style="min-width:940px" id="po-detail">
    <div class="header panel-heading" data-spy="affix" data-offset-top="70">
        <div class="header-block">
            <div>
                <span class="header-block-entry-label">Mã đơn hàng: </span>
                <span id="pono"></span>
            </div>
            <div>
                <span class="header-block-entry-label">Ngày đặt hàng: </span>
                <span id="order-date"></span>
            </div>
            <div>
                <span class="header-block-entry-label">Trạng thái: </span>
                <span id="status" class="po-status"><span></span><span class="glyphicon glyphicon-ok text-success" style="margin-left:5px"></span></span>
            </div>
        </div>
        <div class="header-block">
            <div>
                <span class="header-block-entry-label">Số đơn hàng đã duyệt: </span>
                <span id="approved-po-count">@Model.LoggedInVendor.PurchaseOrders.Count(e => e.Approved != 0)</span> / <span id="po-count">@Model.LoggedInVendor.PurchaseOrders.Count()</span>
            </div>
            <div>
                <span class="header-block-entry-label">Số items đã sửa: </span>
                <span id="edited-items-count">0</span>
            </div>
            <div>
                <label>Tìm</label><input type="text" placeholder="Mã SP, tên sản phẩm ..." id="item-search" class="cool-text-input" />
            </div>
        </div>
        <div class="header-block" style="vertical-align:top">
            <div style="vertical-align:top; margin-bottom:0px;margin-top:-3px;display:none">
                <label class="header-block-entry-label po-receipt-date">
                    <span data-original-title="Chọn ngày giao cho cả đơn hàng">Chọn ngày giao</span>
                    <input type="checkbox"/>
                    <input type="date" id="po-expected-receipt-date" class="expected-receipt-date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </label>                                
            </div>
            <div>
                <span class="header-block-entry-label">Ẩn dòng đã sửa</span>
                <label class="cool-check-input">
                    <input type="checkbox" id="toggle-modified-items"/>
                    <span class="bg"></span>                    
                </label>
            </div>

            <div id="po-sent-state" class="not-sent">
                <span class="header-block-entry-label" style="color:green">Đơn hàng đã được giao</span>
                <div class="sent-ticker">
                    <span class="header-block-entry-label">Xác nhận đơn hàng đã giao: </span>
                    <label class="cool-check-input">
                        <input type="checkbox" id="toggle-po-sent" />
                        <span class="bg"></span>
                    </label>
                </div>
            </div>
            
        </div>
        <div class="header-block cannot-provide-reasons hidden" style="vertical-align:top">
            <div>
                <div>
                    <span class="header-block-entry-label">Lý do không cung cấp được</span>
                    <select class="form-control" style="width:auto" id="reasons-not-to-provide-items">
                        <option value="-2">Chọn một lý do...</option>
                        <option value="0">Do hết hàng</option>
                        <option value="1">Do vướng công nợ</option>
                        <option value="2">Do không chuẩn bị kịp</option>
                        <option value="-1">Lý do khác</option>
                    </select>
                </div>
                <div class="po-note-link hidden" style="text-align:center">
                    <a href="#" class="view-po-note">Chi tiết lý do</a>
                    <div class="po-note">
                        <textarea class="edit default-skin" maxlength="500" id="po-note-edit"></textarea>
                        <input type="hidden" name="@nameof(PurchaseOrder.Note)" id="po-note-content"/>
                        <input class="btn btn-default" id="save-po-note" type="button" value="Lưu" />
                    </div>
                </div>
            </div>
        </div>
        <!--div class="header-block cannot-provide-reasons" style="vertical-align:top">
            <div>
                <span class="header-block-entry-label">Lý do không cung cấp được</span>
            </div>
            <div>
                <label><input type="radio" class="cool-radio-input" />Do hết hàng</label>
            </div>
            <div>
                <label><input type="radio" class="cool-radio-input" />Do vướng công nợ</label>
            </div>
            <div>
                <label><input type="radio" class="cool-radio-input" />Do không chuẩn bị kịp</label>
            </div>
            <div>
                <label><input type="radio" class="cool-radio-input" />Lý do khác</label>
            </div>
        </!--div-->
        <table class="button-group">
            <tr>
                <td colspan="2">
                    <button class="btn btn-default" id="approve-button" type="submit"><span class="glyphicon glyphicon-ok"></span>Duyệt</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="prev-po-button" class="btn btn-default" type="button" data-original-title="Đơn hàng trước"><span class="glyphicon glyphicon-chevron-left"></span></button>
                </td>
                <td>
                    <button id="next-po-button" class="btn btn-default" type="button" data-original-title="Đơn hàng tiếp"><span class="glyphicon glyphicon-chevron-right"></span></button>
                </td>
            </tr>
            @*
    <tr>
        <td colspan="2" class="po-note-link">
            <a href="#" class="view-po-note">Xem ghi chú</a>
            <a href="#" class="add-po-note">Thêm ghi chú</a>

            <div class="po-note">
                <textarea class="edit default-skin" name="@nameof(PurchaseOrder.Note)" id="po-note-content" maxlength="500"></textarea>
                <input class="btn btn-default" id="save-po-note" type="button" value="Lưu"/>
            </div>
        </td>
    </tr>
            *@
            <tr>
                <td colspan="2">
                    <div class="text-success">
                        <a href="#" id="confirm-goods-received">X.nhận hàng về kho</a>
                        <div class="goods-received-status">
                            <span class="glyphicon glyphicon-ok"></span> Hàng đã về kho
                        </div>
                    </div>
                </td>
            </tr>
        </table>   
        <!-- show a bit info about the store -->
        <div style="margin-top:3px">
            <div>
                <span class="header-block-entry-label">Tên Kho : </span>
                <span id="storeInfo"></span>
            </div>            
        </div>     
    </div>    
    <div class="csstable panel-body">
        <div class="table-header">            
            <div class="table-row">
                <div class="cell sortable">Mã SP<span class="glyphicon"></span></div>
                <div class="cell sortable">Tên sản phẩm<span class="glyphicon"></span></div>
                <div class="cell sortable">Mã kho<span class="glyphicon"></span></div>
                <div class="cell sortable">Đơn giá<span class="glyphicon"></span></div>
                <div class="cell sortable min-width">Số lượng đặt<span class="glyphicon"></span></div>
                <div class="cell sortable">Số lượng giao<span class="glyphicon"></span></div>                
                <div class="cell"><span>Thời gian giao</span><span class="glyphicon"></span>
                    <div>                        
                        <input type="time" class="expected-receipt-time suppress-tooltip" style="margin-top:5px" id="po-expected-receipt-time"/>
                    </div>
                </div>
                <div class="cell sortable"><div style="display:inline-block; width:100%" class="sortable">Ngày giao</div><span class="glyphicon"></span><div style="margin-top:5px;margin-right:1em"></div></div>                
            </div>
        </div>                
        <div class="body" id="purchase-items-container">

        </div>            
        
    </div>    
    <div class="footer panel-footer">

    </div>
</div>
}

<div class="terms-footer">
    <span>Điều khoản hợp đồng</span><br/>
    <div>
        - Phạt không đủ hàng, giao hàng chậm<br/>
        - Hàng hóa khi giao phải đầy đủ hóa đơn, chứng từ, barcode, ...<br/>
        - Thông tin liên hệ với BBM( Kho, hỗ trợ kỹ thuật, ..)<br/>
        - Quy định nhận hàng của kho từ .... đến.....<br/>
        - Đơn hàng chỉ được lưu ở hệ thống trong 1 ngày.
    </div>
</div>

@section Scripts {    
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script>
        $(function () {
            var toDay = new Date();
            var updateModifiedRowsCountStatus = function () {
                $("#edited-items-count").html($("#purchase-items-container").find(".table-row.modified").length + " / " + $("#purchase-items-container").find(".table-row").length);
            };
            
            //update note content so that it can be saved by submitting
            //the source content can be from a selected radio input or some text area ...
            var updateNoteContent = function (note) {
                $("#po-note-content").val(note);                                
            }
            var updateNoteContentWithPrefix = function (note) {
                updateNoteContent("Không cung cấp được hàng " + note.toLowerCase());
            }
            var getManagerToken = function () {
                return sessionStorage.getItem("managerToken");
            };
            var approvePo = function (accessToken, pono) {
                $.post("@approvePoUrl", { accessToken: accessToken, pono: pono }, function (data, status, xhr) {
                    var confirmLink = $("#confirm-goods-received")[0];
                    if (data == "ok") {
                        $("#po-detail").toggleClass("goods-received", true);
                    } else {
                        showErrorPopup(confirmLink, "", "Bạn không có quyền thực hiện thao tác này!");
                    }
                }).fail(function (res) {
                    if (res.status == "401") {
                        showErrorPopup(confirmLink, "", "Bạn không có quyền thực hiện thao tác này, có thể mã truy cập hết hiệu lực, xin thử lại sau!");
                    }
                    else showErrorPopup(confirmLink, "", "Có lỗi kết nối, xin thử lại sau");
                });
            };
            var updateSelectedReasonNotToProvideItems = function (note) {
                //for convenience, we don't save the selected value of int to db, only the translated text is saved
                //so this is the time to convert that text back to selected value as well as selected index
                var i = -1;
                switch (note.stripAccents()) {
                    case "Khong cung cap duoc hang do het hang":
                        i = 0;
                        break;
                    case "Khong cung cap duoc hang do vuong cong no":
                        i = 1;
                        break;
                    case "Khong cung cap duoc hang do khong chuan bi kip":
                        i = 2;
                        break;
                }                
                $("#reasons-not-to-provide-items").val(i);//NOTE: this won't trigger change event and you should also not trigger that manually because that logic is not suitable
                $(".po-note-link").toggleClass("hidden", i > -1);
                if (i == -1) {
                    $("#po-note-edit").val(note);
                }
            }
            
            $("#po-note-edit").change(function () {
                var isOtherReason = parseInt($("#reasons-not-to-provide-items").val()) == -1;
                if (isOtherReason) {
                    updateNoteContent(this.value);
                }
            });
            $("#reasons-not-to-provide-items").change(function () {
                var vl = parseInt(this.value);                
                $(".po-note-link").toggleClass("hidden", vl != -1);

                //for another reason;
                if (vl == -1) {
                    showPoNote();
                    updateNoteContent($("#po-note-edit").val());
                } else if(vl > -1) {
                    updateNoteContentWithPrefix(this.options[this.selectedIndex].text);
                    if (!$(".po-note-link").is(".hidden")) {
                        showPoNote(false);
                    }
                }
            });
            //enable function for time input to select the same expected receipt time for all items
            $("#po-expected-receipt-time").change(function () {
                $(".cell .expected-receipt-time").val($(this).val());
            });
            //enable function for po-note-link
            $(".po-note-link > a").click(function (e) {                
                $(this).closest(".po-note-link").toggleClass("note-shown");
            });
            //enable function for confirm-goods-received
            $("#confirm-goods-received").click(function (e) {
                var currentPo = $(selectedLi).data("poinfo");
                var confirmLink = this;
                //check if the current user has already been authenticated with manager's privileges
                var mt = getManagerToken();
                //check for valid token
                $.post("@checkAccessTokenUrl", { accessToken: mt }, function (data, status, xhr) {
                    if (data == "ok") {
                        //proceed to confirm
                        approvePo(mt, currentPo.PoNo);
                    } else {
                        //popup login dialog to authenticate manager's right
                        vex.dialog.open({
                            message: "Đây là chức năng dành riêng cho nhân viên BBM, bạn cần cung cấp thông tin tài khoản dành riêng cho nhân viên BBM",
                            input: "<div class='row' style='margin-bottom:10px'><label class='control-label col-md-3' style='line-height:2em'>Tài khoản: </label><div class='col-md-9'><input name='username' class='form-control' required/></div></div><div class='row'><label class='control-label col-md-3' style='line-height:2em'>Mật khẩu: </label><div class='col-md-9'><input name='password' type='password' id='popupPass' class='cloned-form-control' required/></div></div>",
                            buttons: [$.extend({}, vex.dialog.buttons.YES, { text: "OK" }), $.extend({}, vex.dialog.buttons.NO, { text: "Hủy bỏ" })],
                            callback: function (data) {
                                if (data) {
                                    if (!data.username || !data.password) {
                                        vex.dialog.alert("Bạn cần nhập đầy đủ thông tin");
                                        return;
                                    }
                                    //obtain managerToken with provided authen info
                                    $.post("@getAccessTokenUrl", { username: data.username, password: data.password }, function (res, status, xhr) {
                                        if (res) {
                                            mt = res;
                                            sessionStorage.setItem("managerToken", mt);
                                            //proceed to confirm
                                            approvePo(mt, currentPo.PoNo);
                                        } else {
                                            //show some error
                                            showErrorPopup(confirmLink, "", "Thông tin tài khoản sai hoặc tài khoản không có quyền");
                                        }
                                    }).fail(function (res) {                                        
                                        //show some error
                                        showErrorPopup(confirmLink, "", "Có lỗi kết nối, xin thử lại sau");
                                    });
                                }
                            }
                        });
                    }
                }).fail(function () {
                    //show some error
                    showErrorPopup(confirmLink, "", "Có lỗi kết nối, xin thử lại sau");
                });
                e.preventDefault();
            });
            $("#save-po-note").click(function () {
                var selectedPo = $(selectedLi).data("poinfo");
                var note = $("#po-note-content").val();
                var saveButton = this;
                $.post("@Url.Action("UpdatePoNote","Home")", { "@nameof(PurchaseOrder.PoNo)" : selectedPo.PoNo, "@nameof(PurchaseOrder.Note)" : note },
                        function (data) {
                            if (data) {
                                //show error message
                                $(saveButton).popover({ content: data, trigger: "manual", placement: "bottom", container: "body" })
                                         .popover("show");
                                setTimeout(function () {
                                    $(saveButton).popover("destroy");
                                }, 3000);
                            } else {
                                //show OK message
                                //update the local selectedPo's Note
                                poNote = selectedPo.Note = note;
                                //data = "Cập nhật thành công!";
                                showPoNote(false);
                            }                            
                        });
            });

            //update the number of approved purchase orders
            $("#approved-po-count").html($("#pos .body ul > li.approved").length);
            //setup function for Mark-po-as-sent checkbox
            $("#toggle-po-sent").on("change", function () {
                var _this = this;
                if ($(this).prop("checked")) {
                    var selectedPo = $(selectedLi).data("poinfo");
                    $.post("@Url.Action("MarkPoAsSent","Home")", { poNo: selectedPo.PoNo }, function (data) {
                        //data is not empty meaning there is some error
                        if (data) {
                            $(_this).popover({ content: data, trigger: "manual", placement: "bottom", container: "body" });
                            $(_this).popover("show")
                                    .on("hidden.bs.popover", function () {
                                        $(_this).popover("destroy");
                                    });
                            setTimeout(function () {
                                $(_this).popover("destroy");
                            }, 3000);
                        } else {
                            $("#po-sent-state").toggleClass("not-sent", false);
                            selectedPo.Sended = 1;                            
                        }
                    });
                }
                $(this).prop("checked", false)//revert the checked state
            });

            var loadingPurchaseItems = function () {
                $("#approve-errors").toggleClass("noerror", true);
                $("#item-search").val("");
                //update some control button status
                $("#purchase-items-container, .footer.panel-footer").toggleClass("loading", true);
                $("#approve-button, #next-po-button, #prev-po-button").toggleClass("disabled", true);
                //obtain the po info from the selected po list item
                var selectedPo = $(selectedLi).data("poinfo");

                updatePoInfoDisplay(selectedPo);
                showPoNote(false);
                //start loading the purchase items using AJAX
                var hasError = false;
                var loadingCore = function () {
                    $("#purchase-items-container").load("@Url.Action("LoadPurchaseItems", "Home")", "poNo=" + selectedPo.PoNo, function (responseText, status, xhr) {                        
                        hasError = false;
                        //update some control buttons' status on completed
                        $("#purchase-items-container, #approve-button, .footer.panel-footer").toggleClass("loading", false);
                        $("#approve-button").toggleClass("disabled", false);
                        $("#next-po-button, #prev-po-button").each(function () {
                            $(this).toggleClass("disabled", this.initDisabled !== undefined && this.initDisabled);
                        });                        
                        
                        if (status == "error") {                            
                            if (!responseText) {
                                responseText = "<div style=\"text-align:center\"><span class=\"text-danger\" style=\"font-size:1.5em\">Không tải được items, xin hãy kiểm tra lại kết nối Internet của bạn</span><br/><button id=\"retryLoadingItems\" class=\"btn btn-default\" type=\"button\"><span class=\"glyphicon glyphicon-refresh text-success\" style=\"margin-right:5px\"></span>Thử lại</button></div>";
                            }
                            hasError = true;                            
                        }
                        if (hasError) {
                            $(".purchase-items-list > .panel-footer").html(responseText);
                            $("#purchase-items-container").html("");
                            $("#approve-button").toggleClass("disabled", true);
                            //for retrying loading button
                            $("#retryLoadingItems").click(function () {
                                $(this).toggleClass("disabled", true).toggleClass("loading", true);
                                loadingCore();
                            });
                            return;
                        } else {
                            $("#po-expected-receipt-time").val("");
                            $(".purchase-items-list > .panel-footer").html("");
                            $("#po-expected-receipt-date").val("").prevAll("input[type=checkbox]").first().prop("checked", false);//[0].valueAsDate = new Date();
                            //the poNote is embedded in <script> in the result (if success)
                            selectedPo.Note = poNote;
                            $("#po-note-edit").val("");
                            updateNoteContent(poNote);
                            updateSelectedReasonNotToProvideItems(poNote);
                            //show save-note button only when there is some note saved before.
                            $("#save-po-note").toggleClass("hidden", !poNote);
                        }
                        var zeroQtyItems = $("#purchase-items-container .cell .zero-qty").toArray();
                        var noItemWithZeroQty = zeroQtyItems.length == 0;
                        //show or hide the inputs for giving feedback about the reason why at least some item cannot be provided
                        $(".cannot-provide-reasons").toggleClass("hidden", noItemWithZeroQty);                        
                        if (noItemWithZeroQty) {
                            $("#reasons-not-to-provide-items")[0].selectedIndex = 0;
                            $(".po-note-link").toggleClass("hidden", true);
                        }
                        //scroll to top again
                        $("html,body").scrollTop(0);
                        //sort the lastly sorted column for the new comming rows
                        if (lastSortedColumnIndex > -1) {
                            sortColumn.call(sortedHeaderCell, lastSortedColumnIndex);
                        }
                        //because the newly loaded content is totally new, we need to find and attach event handlers each time
                        //here we want to handle all the blur event from the cell's inputs to check their modification state and update their style accordingly.
                        $("#edited-items-count").html("0 / " + $("#purchase-items-container").find(".table-row").length);
                        $(".cell input").blur(function () {
                            var ov = $(this).data("originalvalue");
                            var ovmdy = null;
                            if (ov == null) return;
                            var vl = $(this).val();
                            //the Date value is stored in a certain format originally, so we need to convert the current value with that format applied
                            //before comparing the two
                            if (this.type == "date" || vl.indexOf("-") > -1 || vl.indexOf("/") > -1) {
                                var d = new Date(vl);
                                if (!isNaN(d.valueOf())) {
                                    ovmdy = $(this).data("ov-mdy");
                                    //this is the format to compare the current datetime with the original value (saved by the server code using that same format)
                                    vl = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
                                }
                            }
                            //update expected receive date input status
                            updateInputStatusOnQtyToReceiveChange($(this));
                            var row = $(this).closest(".table-row");
                            var isModified = ov != vl;
                            $(this).toggleClass("modified", isModified);
                            if (!$(this).hasClass("suppress-tooltip")) {
                                //check if it's modified, attach a bootstrap tooltip to show the original value
                                if (isModified) {
                                    $(this).attr("data-original-title", "Giá trị ban đầu là: " + (ovmdy ? ovmdy : ov));
                                } else {
                                    $(this).attr("data-original-title", "");
                                }
                            }
                            //update the modification state for the containing row as well.
                            var isRowModified = isModified || row.find(".cell input").is(".modified");
                            row.toggleClass("modified", isRowModified);
                            //firstly check if the current row has lost focus, the delay-hidden should be applied only after that time                            
                            var _this = this;
                            setTimeout(function () {
                                if (!$(_this).closest(".table-row").find(".cell input:focus").length) {
                                    row.toggleClass("delay-hidden", isRowModified);
                                }
                            }, 1000);
                            
                            //update the number of modified rows
                            updateModifiedRowsCountStatus();
                        }).tooltip()
                          .filter(".quantity-to-receive")
                          .change(function () {
                              var hasZero = zeroQtyItems.length > 0;
                              var vl = parseInt($(this).val());
                              if (vl == 0) {
                                  zeroQtyItems.push(this);
                              } else {
                                  var i = zeroQtyItems.indexOf(this);
                                  if (i > -1) {
                                      zeroQtyItems.splice(i, 1);
                                  }
                              }
                              //check if the zeroQtyItems is changed and toggles the items count between 0 and a non-zero.
                              if (hasZero != zeroQtyItems.length > 0) {
                                  hasZero = zeroQtyItems.length > 0;
                                  //we need to show input elements for user to enter some note explaining about the reason why the items cannot be delivered/provided.                                  
                                  $(".cannot-provide-reasons").toggleClass("hidden", !hasZero);
                                  
                                  if (hasZero) {
                                      if (selectedPo.Note) {
                                          updateNoteContent(selectedPo.Note);
                                      } else {
                                          //always reset the reason to the first one
                                          var reasons = $("#reasons-not-to-provide-items");
                                          reasons.val(-2);
                                          //updateNoteContentWithPrefix(reasons[0].options[0].text);
                                          updateNoteContent(null);
                                      }
                                  } else {//reset the note to null or empty
                                      updateNoteContent(null);
                                  }
                              }
                          });

                        //prevent user from entering a value greater than max or less than min
                        //console.log($("input[type=number]").length);
                        $("input[type=number]").keyup(function (e) {
                            if (this.value == "") return;
                            var n = parseInt(this.value);                            
                            if (n < this.min || n > this.max) {                                
                                this.value = Math.min(this.max, Math.max(this.min, this.value));                                
                            }
                        }).on("paste", function (e) {
                            e.preventDefault();
                        });
                        //update the disabled attribute (gen by server) for all inputs to make it work properly
                        $("input[data-readonly]").each(function () {                            
                            var d = $(this).data("readonly");                            
                            if (d == "True") {
                                this.readOnly = true;
                            }
                            $(this).removeData("readonly");
                        });
                        //handle the Enter key press so that the form won't be submitted unintentionally
                        $("input").keypress(function (e) {
                            if (e.which == 13) {
                                e.preventDefault();
                                $(this).blur();                                
                            }
                        });
                        //by default the time is not shown (because we use DisplayFormatAttribute with DataFormatString set to "{0:HH-mm}"
                        //So the value attribute is set to a wrong format making the time not shown.
                        //For lastly modified (and of course approved) entries, we should show the time up 
                        //So this will find all the approved/modified entries and replace the middle dash in the value attribute with : (to convert HH-mm to HH:mm)
                        //With correct format set, the time will show up.
                        /*
                        $(".last-modified").find(".cell input.expected-receipt-time")
                                           .attr("value", function (i, oldAttr) {                                
                                                return oldAttr.replace("-",":");                            
                        });*/
                        //if the po was approved by customer, all the time input should show up
                        if (selectedPo.Status) {
                            $("#purchase-items-container .cell input.expected-receipt-time").attr("value", function (i, oldAttr) {
                                         return oldAttr.replace("-",":");                            
                            });
                        }
                    });
                }

                loadingCore();
            }
            $(".po-list ul li").on("loadingPurchaseItems", loadingPurchaseItems);
            /*
            $("#po-expected-receipt-date").change(function (e) {
                if (!$(this).prevAll("input[type=checkbox]").first().is(":checked")) return;
                $("#purchase-items-container input.expected-receipt-date").val($(this).val());
            });//[0].valueAsDate = new Date();*/
            setTimeout(function () {
                $(".po-list ul li").first().click();
            }, 2000);
            $("#po-search").focus();
            var mainHub = $.connection.mainHub;
            $.connection.hub.start();
            mainHub.client.refresh = function () {
                //alert("Has changed data!!!");
                $.post("@Url.Action("LoadPurchaseOrders","Home")", null, function (data) {
                    //console.log(data);
                    $("#pos .body ul").parent().html(data);
                    $(".po-list ul li").on("loadingPurchaseItems", loadingPurchaseItems);
                    $(".po-list ul li").click(function (e) {
                        if (this == selectedLi) return;
                        loadPurchaseItemsForSelectedPO.call(this);
                    });

                    var firstLi = $(".po-list ul li").first();
                    if (firstLi.length == 0) {
                        $("#purchase-items-container").html("");
                        $("#approve-button, #next-po-button, #prev-po-button").toggleClass("disabled", true);
                        updatePoInfoDisplay(null);
                        selectedLi = null;
                        $("#edited-items-count").html(0);
                    } else {
                        if (!selectedLi || firstLi.data("poinfo").PoNo != $(selectedLi).data("poinfo").PoNo) {
                            firstLi.click();                            
                        } else {                            
                            loadPurchaseItemsForSelectedPO.call(firstLi[0]);
                        }                        
                        //firstLi.scrollTop(0);//does not have any effect just because of the foolish "cool" custom scrollbars
                        $(".po-list > .body").customScrollbar("scrollTo", firstLi);
                    }
                    $("#po-count").html($("#pos .body ul > li").length);
                    $("#approved-po-count").html($("#pos .body ul > li.approved").length);                    
                    $(".po-list > .body").customScrollbar("resize", false);
                });
            }            
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")        
}

