﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lỗi tải trang";
}

<h3 class="text-danger">Rất tiếc có lỗi không mong muốn.</h3>
<i class="text-danger" style="font-size:1em">Xin hãy thử lại sau hoặc liên hệ với Quản lý hệ thống - Bibo Mart để được hỗ trợ.</i>

