﻿.po-list {
    position:fixed;
    left:0px;
    top:70px;
    bottom:10px;
    transition:all 0.5s ease-out;
    transform:translate(-100%,0px);
    min-width:200px;
    max-width:300px;
    width:20vw;    
    border:1px solid orange;
    background:rgba(255,255,255,0.8);
    z-index:1000;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;      
}
.po-list > .body {    
    overflow:auto;
    position:absolute;    
    left:0px;
    top:5.2em;
    right:0px;
    bottom:20px;
    overflow:hidden;
}
.po-list > .body.default-skin.scrollable > .scroll-bar > .thumb {
    opacity:0.5;
    background:rgba(200,200,100,1);
}
.po-list > .body.default-skin.scrollable > .scroll-bar > .thumb:hover {
    opacity:1;
}

.po-list.expanded {    
    transition:all 0.5s ease-in;
    box-shadow:1px 3px 5px rgba(0,0,0,0.6); 
    transform:translate(0%,0px);
}
.po-list ul {
    list-style:none;
    padding:0px;
}
.po-list ul li {
    width:100%;
    display:inline-block;
    padding-left:20px;
    transition:all 0.4s, background 0.3s ease-in;
    border-radius:5px;
}
.po-list ul li:hover {
    background:orange;
    color:white;
}
.po-list ul li.selected {
    background-color:darkorange;
    padding-left:1em;
    color:white;
    font-size:1.2em;
}
.po-list ul li > span.glyphicon {    
    margin-left:10px;
    display:inline-block;
}

.po-list ul li.hidden {
    height:0px;
}

.po-list .header {
    position:relative;
    left:0px;
    top:0px;
    right:0px;
    height:5em;    
    background:white;
    color:tomato;
    text-align:center;    
    line-height:2em;
    font-size:1em;
    box-shadow:0px 2px 3px black;
    border-top-right-radius:10px;
}

.po-list .header .nav-button {
    position:absolute;
    right:0px;
    top:20px;
    bottom:20px;
    display:inline-block;
    text-align:center;    
    background:transparent;
    color:crimson;
    transition:all 0.2s;
    border:none;
    outline:none;
}
.po-list .header .nav-button {
    transform:translate(70%,0px);
}
.po-list .header .nav-button > span {
    pointer-events:none;
}

.po-list-caption {
    text-shadow:1px 1px 1px white, -1px -1px 1px black, 1px 1px black;
    font-size:1.2em;
}

.po-list.expanded .header .nav-button {
    transform:translate(0px,0px);    
}
.po-list:not(.expanded) .header .nav-button {
    border:1px solid orange;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
}
.po-list .header .nav-button:hover {
    background:radial-gradient(60% 60% at center, orange, transparent);
}
.po-list .header .cool-text-input {
    width:8em;
    margin-right:1em;
}
.cool-text-input {
    margin-left:10px;
    height:2em;
    font-size:1em;
    border:1px solid orange;
    border-radius:5px;
    outline:none;
    padding:1px 5px;    
}
.cool-text-input::-webkit-input-placeholder {
    font-style:italic;
    opacity:0.7;    
}
.cool-text-input:focus {
    box-shadow:0px 0px 3px darkorange;
}


