﻿body {
    padding-top: 50px;
    padding-bottom: 20px;    
    background:rgba(250,250,250,1);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-fixed-top {
    background: linear-gradient(to bottom right, #e51f28, rgba(255,0,0,0.5));
    /*border-bottom:1px solid #e01f28;*/
    border-bottom:1px solid #ffffff;
}
#page-nav-bar.navbar-fixed-top.navbar > .container li > a:not(.ignore-override) {
    color:#eeefe0;
}
#page-nav-bar.navbar-fixed-top.navbar > .container li > a:not(.ignore-override):hover {
    color:#ffffff;
}

#page-nav-bar.navbar-fixed-top.navbar > .container .navbar-header a {
    color:#a50d0d;
}
#page-nav-bar.navbar-fixed-top.navbar > .container .navbar-header a:hover {
    color:#ff0d0d;
    text-shadow:0px 0px 3px #a50d0d;
}

#page-nav-bar.navbar-fixed-top.navbar > .container li:not(.ignore-override):hover > a {
    background:transparent;
}
#page-nav-bar.navbar-fixed-top.navbar > .container .dropdown-menu li > a {
    color:#a50d0d;
}
#page-nav-bar.navbar-fixed-top.navbar > .container .dropdown-menu li:hover > a {
    color:white;
    background:orange;
}

.dropdown > .btn.btn-default.dropdown-toggle {
    background:transparent;
    transition:all 0.5s;
    color:#eeefe0;
    border:none;
}
.dropdown > .btn.btn-default.dropdown-toggle:hover {
    background:orange;
}
/* NOT WORKING??? */
#page-nav-bar .dropdown > .btn.btn-default.dropdown-toggle > .caret {
    border-top-color:#eeefe0;
}


.validation-summary-errors > ul > li {        
    margin:auto;
    overflow:hidden;
    height:0px;    
    animation:expandingDown 1s;
    animation-iteration-count:1;
    animation-delay:1s;
    animation-fill-mode:forwards;
}

@keyframes expandingDown {
    0% {        
    }
    100%{
        height:1.3em;
    }
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color:#fff5a6;
    }
}
.field-validation-valid {    
    transition:all 1s;
    opacity:0;    
    max-height:0px!important;    
}


.general-button {
    display:inline-block;
}
.general-button > :first-child {
    font-size:15px;
    font-weight:bold;
    color:orange;
}
.general-button > :last-child {
    font-size:smaller;
    font-style:italic;
    color:orange;
}


.login-error ul {    
    padding-left:1em;
}
.login-error li {
    list-style:none;    
}
/* for magic radio buttons */

.magic-radio > input[type='radio'] {
  display: none;
}
.magic-radio > input[type=radio] + .render, .total-point.render {
  background:radial-gradient(at 30% 30%, white, gray 60%);   
  width:1.5em;
  height:1.5em;
  border-radius:50%;
  display:inline-block;
  text-align:center;
  text-shadow:1px 1px 1px white, -1px -1px 1px black;
  font-size:20px;
  transition:all 0.4s;
  color:tomato;
  cursor:pointer;
  box-shadow:1px 1px 3px 0px rgba(255,0,0,0.5);
}
.total-point.render  {
  width:5em;
  height:3em;
  border-radius:10%;
  font-size:20px;
  padding:0em;
  box-sizing:border-box;
  cursor:default;
}
.total-point.render:before {
  content:'';
  line-height:3.2em;
  vertical-align:middle;
}

.magic-radio > input[type=radio] + .render:before {
  content:'';
  line-height:1.6em;
  vertical-align:middle;
 }
 
 .magic-radio > input[type=radio] + .render:hover {
   background:radial-gradient(at 40% 40%, white, orange 60%);
 }
 
 .magic-radio > input[type=radio]:checked + .render {
   background:radial-gradient(at 30% 30%, white, green 60%);
 }
 
 /* for point report table */

 .point-report-table {
     width:90%;
     margin:auto;
     border:1px solid orange;
     border-collapse:collapse;
 }
 .point-report-table td, .point-report-table th {
     border:1px solid orange;     
     padding-left:5px;
 }
 .point-report-table td.center, .point-report-table th {
     text-align:center;
 }
 .point-report-table > caption {
     font-weight:bold;
     font-size:large;
     margin:10px;
 }
 .purchase-items-list {
     
 }
 .csstable {
     display:table;
     width:100%;
     margin:auto;     
     border-collapse:collapse;
 }
 
 .csstable .table-header {
     display:table-header-group;
     font-weight:bold;
     border-bottom:1px solid rgba(230,240,230,1);
 }
 .csstable .table-header .table-row {
     background:rgba(240,240,240,0.9);
     max-height:100px;
     transition:max-height 0.5s ease-out;
 }

 .csstable .table-header .cell:not(:first-child) {
     text-align:center;
     border-left:1px solid rgba(250,220,230,1);
 }
 
 #purchase-items-container {
     display:table-row-group;  
     position:relative;             
 }
 #purchase-items-container.hide-modified-items .table-row.modified.delay-hidden {     
     max-height:0px;
 } 
 #purchase-items-container.hide-modified-items .table-row.modified.delay-hidden .cell {
     display:none;
 }

 .table-row {
     display:table-row;     
 }
 .table-row:nth-child(2n) {
     background:rgba(230,240,230,1);
 }
 
 .table-row.last-modified {
     background:linear-gradient(to right, rgba(220,255,120,0.3), transparent);
     border-bottom:1px solid rgba(250,155,100,1);
 }
 .table-row.modified {
     background:linear-gradient(to right, rgba(220,255,120,1), transparent);
     border-bottom:1px solid rgba(250,155,100,1);
 }

 .cell {
     display:table-cell;
     padding:10px;
 }
 /* Ma SP*/
 .cell:first-child {
     width:10%;
 }
 /* Ten SP */
 .cell:nth-child(2) {
     width:30%;
 }
 /* Ma Kho */
 .cell:nth-child(3) {
     width:10%;
 }
 /* Don Gia */
 .cell:nth-child(4) {
     width:10%;
 }
 /* So luong dat */
 .cell:nth-child(5) {
     width:10%;
 }
 /* So luong giao */
 .cell:nth-child(6) {
     width:10%;
 }
 /* Ngay giao */
 .cell:nth-child(7) {
     width:10%;
 }
 /* Thoi gian giao */
 .cell:nth-child(8) {
     width:10%;
 }

 .header-block {
     display:inline-block;
     vertical-align:top;
 }
 .header-block:not(:first-child){
     margin-left:30px;
 }
 .header-block-entry-label {
     min-width:100px;
     display:inline-block;
     vertical-align:top;
     font-weight:bold;
     margin-bottom:5px;
 }
 #approve-button {     
     font-size:1.2em;     
     width:100%;
 }

 .button-group {
     position:absolute;
     right:10px;
     top:2px;
     bottom:2px;
     width:10em;     
     text-align:center;   
     border-collapse:collapse;          
     table-layout:fixed;     
 }
 .button-group td {
     text-align:center;
     padding:2px;
     vertical-align:middle;
 }
 .button-group tr:not(:first-child) button {
     font-size:0.7em;  
     width:100%;   
     color:crimson;
 }
 .panel-heading.header {
     position:relative;
 }
 #approve-button .glyphicon {
     margin-right:5px;
     color:lightgreen;
 }

 .panel-heading.header.affix {
     top:50px;
     position:fixed;     
 }

 .cell input, .expected-receipt-date {
     border:1px solid rgba(200,155,100,1);
     border-radius:5px;
     outline:none;
     padding:2px 5px;
     background:transparent;
     line-height:normal;
     height:1.8em;
 }
 .cell input:focus {
     box-shadow:0px 0px 3px rgba(200,115,100,1);
 }

 .cell input.modified {
     background:rgba(255,205,100,0.5);
 }

 #purchase-items-container.approving, #purchase-items-container.loading, .footer.panel-footer.loading {
     opacity:0.3;
     pointer-events:none;
 }
 #approve-button.approving > span {
     animation:waiting 1s infinite linear;
 }
 #retryLoadingItems.loading > span {
     animation:waiting 1s infinite linear;
 }
 @keyframes waiting {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }
 button.disabled {
     outline:none;
 }

 #item-search {
     border-top:none;
     border-left:none;
     border-right:none;
     background:transparent;
 }
 #approve-errors {
     transition:all 1s;     
     max-height:50px;
 }
 #approve-errors.noerror {
     max-height:0px;
 }
 /* for cool-check-input */
 .cool-check-input {
     display:inline-block;
     width:40px;
     height:1em;
     border-radius:1em;          
     box-shadow:0px 0px 5px rgba(100,100,100,1) inset,
                0px 0px 1px 1px white inset, 0px 0px 3px 0px white inset;
     position:relative;     
     vertical-align:middle;
     font-size:1.3em;
 }
 .cool-check-input > input[type=checkbox] {
     visibility:hidden;     
 }
 .cool-check-input > .bg {
     position:absolute;
     left:0px;
     top:0px;
     bottom:0px;     
     background:linear-gradient(to right, rgba(100,200,100,1), transparent);
     width:1em;
     transition:all 0.2s ease-in;
     border-radius:1em;     
 }
 .cool-check-input > .bg:before {
     content:'';
     position:absolute;
     right:0px;
     top:0px;
     bottom:0px;
     box-shadow:0px 0px 1px rgba(90,90,90,1) inset;
     border-radius:50%;     
     width:1em;     
     background:radial-gradient(80% 80% at 40% 40%, white, rgba(255,255,255,0.3), transparent);
     box-shadow:0px 0px 3px rgba(155,150,150,1);
     transition:all 0.5s;
     padding:3px;
 }
 .cool-check-input > .bg:hover:before {
     background:radial-gradient(80% 80% at 40% 40%, white, rgba(255,255,0,0.3), transparent);
     box-shadow:0px 0px 3px rgba(255,200,100,1);
 }
.cool-check-input > input[type=checkbox]:checked ~ .bg {
    width:100%;
}

.vex-dialog-buttons > button.vex-first.vex-dialog-button.vex-dialog-button-primary {
  background:coral;
}

.csstable > .table-header > .table-row > .cell.sortable:hover
/* , .csstable > .table-header > .table-row > .cell > .sortable:hover */ {
    background:rgba(155,155,0,0.3);
    color:white;
}
.csstable > .table-header > .table-row > .cell.sortable:active
/* , .csstable > .table-header > .table-row > .cell > .sortable:active */ {
    background:rgba(105,105,0,0.3);
}

.csstable > .table-header > .table-row > .cell,
.csstable > .table-header > .table-row > .cell > .sortable {
    position:relative;
    user-select:none;
    cursor:pointer;    
}
.csstable > .table-header > .table-row > .cell.sortable.min-width {
    padding-right:20px;
    padding-left:20px;
}
/* this should apply on sortable column headers only */
.csstable > .table-header > .table-row > .cell > span.glyphicon {
    position:absolute;
    top:50%;
    right:7px;
    width:1em;
    height:1em;
    transform:translate(0px, -50%);
    opacity:0;
}
.csstable > .table-header > .table-row > .cell.sorted > span.glyphicon {
    opacity:1;
}

.vendor-name {
    font-size:1.3em;
}
.vendor-name > span {
    color:#2d3828;    
}

.terms-footer {
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:8.5em;
    text-align:center;
    background:rgba(255,255,255,0.9);
    padding-bottom:10px;
    padding-top:3px;
    font-size:0.8em;
    border-top:1px solid #2d3828;
}
.terms-footer > div {
    display:inline-block;
    text-align:left;
}
.terms-footer > span:first-child {
    color:#2d3828;
    font-weight:600;
}
body {
    padding-bottom:8.4em;
}
input.expected-receipt-date:read-only {
    opacity:0.3;
}

.approved.not-sent > span:first-child {
    display:none;
}

.approved:not(.not-sent) > .sent-ticker {
    display:none;
}

#po-sent-state:not(.approved) {
    display:none;
}


/*
#po-expected-receipt-date {
    display:inline-block;
    width:0px;
    padding:0px;    
    transition:all 1s;
}

.po-receipt-date:hover > span[data-original-title] {
    color:orange;
    cursor:pointer;
}
.po-receipt-date:active {
    color:darkorange;
}
.po-receipt-date > input[type=checkbox]{
    display:none;
    padding:0px;
}
.po-receipt-date > input:checked ~ #po-expected-receipt-date {
    width:10em;
}
.po-receipt-date > input:not(:checked) ~ #po-expected-receipt-date {
    border:none;
}
*/
/* po note */

.header.panel-heading.affix {
    z-index:1;
}

.po-note {
    width:300px;
    height:240px;
    border:1px solid orange;
    border-radius: 10px;
    position:absolute;
    right:0px;
    top:100%;
    transition:all 0.5s ease-out;
    overflow:hidden;
    z-index:1001;
    box-sizing:border-box;
    background:rgba(255,255,255,0.9);
    text-align:center;
    box-shadow:1px 1px 5px black;
}

.po-note-link {
    position:relative;
}

.po-note-link:not(.note-shown) > .po-note {    
    height:0px;
    border-width:0px;
}

.po-note-link.note-shown > .po-note {
    transition:all 0.3s ease-in;
}
.po-note > #save-po-note {
    height:30px;
    display:inline-block;
    width:100%;
}
.po-note > .edit {
    display: inline-block;
    height:200px;
    width:100%;
    border:none;
    outline:none;
    margin:0px;
    resize:none;
    background:transparent;
}
.view-po-note, .add-po-note {
    vertical-align:central;
    text-align:center;
}
/*
#po-detail:not(.approved) .view-po-note {
    display:none;
}*/

#po-detail.approved .add-po-note {
    display:none;    
}
/* Save button is shown only if po has already been approved  */
#po-detail:not(.approved) .po-note > #save-po-note {
    display:none;
}

.tab-pane {
    padding-top:30px;
}

.no-user {
    color:red;
}
.no-po {
    color:orange;
}
.is-managed {
    color:orange;
}

.edit-user .form-control {
    width:300px;
}
.edit-user .form-control.highlighter {
    width:280px;
    min-height:100px;
    height:auto;
}
.highlighter > .renderer,
.highlighter > .editor {
    padding:10px;
    
}
.vendor-tag:hover {
    text-decoration:underline;
    cursor:pointer;
}
.vendor-info-popup {
    
}
.vendor-info-table td {
    vertical-align: middle;
    text-align:left;
    padding:10px;
}
.popup {
    position:fixed;
    left:-3000px;
    top:-3000px;
    opacity:0;
    transition: opacity 0.5s;
    background:white;
    border:1px solid orange;
    box-shadow: 1px 1px 3px 0px gray;
    padding:10px;
}    
.popup.shown {
    opacity:1;    
}
.section-caption {
    margin:20px;
    font-weight:bold;
    font-size:1.5em;
}
.vendor-detail {
    position: fixed;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    background:rgba(0,0,0,0.5);   
    opacity:0;        
    transition:opacity 0.2s ease-in;
}
.vendor-detail.shown {
    opacity:1;    
    transition:opacity 1s ease-out;
}

.vendor-detail > .container {
    position:absolute;    
    box-shadow:0px 0px 15px orange;
    width:80%;
    height:80%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:white;
    border-radius:5px;
    padding:0px;
}
.close:hover {
    color:red;
}

.po-status span.glyphicon:before {
    opacity:0;
}
.po-status.approved span.glyphicon:before {
    opacity:1;
}

.row.item:nth-child(2n) {
    background:#eeeeee;
}
.row.with-hover-effect:hover {
    background:orange;
    color:white;
    cursor:pointer;
}
.text-bold {
    font-weight:bold;
}
#detail-vendor-pos {
    position:relative;
}
#detail-vendor-pos + .loading-cover .glyphicon {
    color:green;
    font-size:3em;
    text-shadow:0px 0px 3px black, 0px 0px 1px white;
}
#detail-vendor-pos + .loading-cover {    
    vertical-align:middle;
    text-align:center;
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.8);
    display:none;
    padding-top:50px;
}
#detail-vendor-pos.loading + .loading-cover {
    display:table;
}

#detail-vendor-pos.loading + .loading-cover .glyphicon,
.table.loading .status > .glyphicon {
    animation: cycling 1s linear infinite;
}
.vendor-detail > .container > table tr:not(:first-child) > td {
    padding:5px 20px;
}
.vendor-detail > .container > table tr > td:first-child {
    width:1%;
    white-space:nowrap;
}
.vendor-detail > .container > table tr > td {
    vertical-align:middle;
}
.vendor-detail > .container > table tr > td label {
    margin:0px;
}
.row.item.exactly-matched {
    background:green;
    color:white;    
}

@keyframes cycling {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
.cannot-provide-reasons {
    border:1px inset gray;
    border-top:none;
    border-bottom:none;
    border-right:none;
    border-radius:5px;
    padding-left:0.5em;
    padding-right:0.5em;
}

.cannot-provide-reasons :nth-child(n+2) {
    font-size:0.8em;
    font-weight:normal;
}*/

/*
    cool tick box
*/
.cool-tick {
  display:inline-block;
  position:relative;  
  color:green;     
  padding:0px;      
  font-weight:normal;  
  padding-left:1.2em;
  line-height: 1em;
}

.cool-tick *, .cool-tick *:before {
  padding:0px;
  margin:0px;  
  box-sizing:border-box;     
}
.cool-tick > input[type=checkbox] {
     display:none;           
 }
 .cool-tick > input[type=checkbox]:not(:checked) + .bg:before {
     visibility:hidden;
 }
 .cool-tick > .bg {   
   position:absolute;          
   text-align:center;
   display:inline-block;  
   left:0px;
   top:0em;
   padding:0px;   
   width:1em;
   height:1em;
   border-radius:0.3em; 
   border:0.07em solid green;   
 }
  .cool-tick > .bg:before {
    content:'';
    display:block;
    position:absolute;
    width:100%;
    height:40%;        
    bottom:0px;
    border-left:0.15em solid green;
    border-bottom:0.15em solid green;
    transform-origin:0% 100%;
    transform:scale(1.8,1.8) translate(0.2em,0%) rotate3d(0,0,1,-45deg);    
  }  

  /*  =============  */

  #po-detail.goods-received #confirm-goods-received {
      display:none;
  }
  #po-detail:not(.goods-received) .goods-received-status {
      display:none;
  }
  #po-detail:not(.approved) #confirm-goods-received,
  #po-detail:not(.approved) .goods-received-status {
      display:none;
  }

#popupPass.cloned-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#popupPass.cloned-form-control:focus {
    border-color:#80bdff;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #80bdff;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #80bdff;
}

#retry-loading-button {
    display:none;
}

.has-error #retry-loading-button {
    display:inline-block;
}
.has-error .status {
    display:none;
}

.table:not(.loading) .status {
    display:none;
}

.date-range {
    display:inline-block;
}
.hidden2 {
    visibility:hidden;
}
#po-status-report th:nth-child(12), 
#po-status-report th:nth-child(13){
    width:8%;
}

