﻿.xdsoft_input {
  /* border:1px solid orange; */
  border-radius:5px;
  font-size:15px;
  outline:none;
  padding:5px;
  width:300px;  
  margin-bottom:10px;
}
.xdsoft_autocomplete .xdsoft_autocomplete_dropdown {
  margin-top:3px;
  border:1px solid orange;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  box-shadow:2px 2px 5px 0px darkgray;  
  border-top:none;
  padding-top:0px;
  overflow:visible;
  /* for some context, we may need absolute position to position it correct */
  position:absolute;
  background:white;
  z-index:1000;
  display:none;/* initially ensure this is hidden, later this will be overriden by auto-gen inline style
                  Without decorating this with any pseudo-element, that won't be a problem but once rendering some :before or :after, it may be visible 
                  initially.
  */
}
.xdsoft_autocomplete .xdsoft_autocomplete_dropdown:before {
  content:'';
  position:absolute;
  left:0px;right:0px;top:-3px;
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
  border:1px solid orange;  
  background:transparent;
  height:3px;
  border-top:none;
}
.xdsoft_autocomplete .xdsoft_autocomplete_dropdown:after {
  content:'';
  position:absolute;
  left:-1px;right:-1px;top:-3px;
  border:1px solid orange;
  border-top:none;
  border-bottom:none;
  background:transparent;
  height:3px;  
}
.xdsoft_autocomplete .xdsoft_autocomplete_dropdown > div {
  padding-left:10px;
}
.xdsoft_autocomplete .xdsoft_autocomplete_dropdown > div:last-child {
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
.xdsoft_autocomplete .xdsoft_autocomplete_dropdown > div.active {
  background:orange;
}