﻿@using PoVendorPortCommon.Models
@model UserInfo

@{
    
}

<div class="row item with-hover-effect" data-username="@Model.UserName" data-fullname="@Model.FullName" data-url="@Url.Action("EditUser","Manage", new { username = Model.UserName })">
    <!--input class="col-md-1" type="checkbox"/-->
    <div class="col-md-4">
        @Model.UserName
    </div>
    <div class="col-md-5">
        @Model.FullName
    </div>
    <div class="col-md-2">
        @Model.MaPB
    </div>
</div>
