﻿@using PoVendorPort.Models
@using PoVendorPort.Controllers

@model ControlPanelViewModel

@{
    var isAdmin = Model.LoggedInUser.IsAdmin;
    var vendorNoPlaceholder = Guid.NewGuid().ToString();
    var editVendorUrlPattern = Url.Action("EditVendor", "Manage", new { vendorNo = vendorNoPlaceholder });    
}

<script>
    var selectedTab = sessionStorage.getItem("selectedTab");    
</script>

<h3 style="margin-left:10vh">Tác vụ quản lý</h3>
<hr />

<ul class="nav nav-tabs">
    @if (isAdmin){
        <li class="active"><a data-toggle="tab" href="#users" id="users-tab">Quản lý người dùng</a></li>
    }
    <li @(isAdmin ? "":"class=active")><a data-toggle="tab" href="#vendors" id="vendors-tab">Quản lý nhà cung cấp</a></li>
</ul>

<div class="container">
    <div class="tab-content">
        @if (isAdmin)
        {
        <div id="users" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-1" style="text-align:right;font-weight:bold;height:2em;line-height:2em;">
                    Tìm:
                </div>
                <div class="col-md-10" style="display:inline-block;vertical-align:middle">
                    <input type="text" placeholder="Tên đăng nhập, tên người dùng ..." class="cool-text-input" id="user-search" />
                </div>
                <div class="col-md-1" style="text-align:right">
                    <a href="@Url.Action("AddUser", "Manage")" class="btn btn-default" data-original-title="Thêm người dùng">
                        <span class="glyphicon glyphicon-plus-sign text-success"></span>
                    </a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-offset-1 col-md-4" style="font-weight:bold">
                    <div>Tên đăng nhập</div>                    
                </div>
                <div class="col-md-5" style="font-weight:bold">
                    <div>Tên đầy đủ</div>                    
                </div>
                <div class="col-md-2" style="font-weight:bold">
                    <div>Nhóm quản lý</div>                    
                </div>
            </div>
            <hr />
            @Html.DisplayFor(e => e.ManagedUsers)
        </div>
        }
        <div id="vendors" class="tab-pane fade@(isAdmin ? "" : " in active")">
            <div class="row">
                <div class="col-md-1" style="text-align:right;font-weight:bold;height:2em;line-height:2em;">
                    Tìm:
                </div>
                <div class="col-md-10" style="display:inline-block;vertical-align:middle">
                    <input type="text" placeholder="Mã NCC, tên NCC ..." class="cool-text-input" id="vendor-search" />
                    @if (isAdmin)
                    {
                        <input type="button" class="btn btn-default hidden" value="Thêm tài khoản mặc định" id="add-default-vendor-account-button"/>
                    }
                    <input type="button" class="btn btn-default hidden" value="Reset mật khẩu" id="reset-vendor-account-pass-button" />
                    <input type="button" class="btn btn-default hidden" value="Xem chi tiết" id="view-vendor-account-detail-button" />
                </div>
                <div class="col-md-1" style="text-align:right">
                    <a href="@Url.Action("AddVendors","Manage")" class="btn btn-default" data-original-title="Thêm nhà cung cấp">
                        <span class="glyphicon glyphicon-plus-sign text-success"></span>
                    </a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-offset-1 col-md-3" style="font-weight:bold">
                    <div>Mã nhà cung cấp</div>                    
                </div>
                <div class="col-md-6" style="font-weight:bold">
                    <div>Tên nhà cung cấp</div>                    
                </div>
                <div class="col-md-2" style="font-weight:bold">
                    <div>Số đơn hàng</div>                    
                </div>
            </div>
            <hr />
            <div class="items-container">
                @Html.DisplayFor(e => e.ManagedVendors)
            </div>
        </div>
    </div>

</div>

<div class="vendor-detail">   
    <div class="container">
        <table style="width:100%; height:100%">
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tr>
                            <td style="vertical-align:middle">
                                <div class="section-caption" style="margin-bottom:0px">
                                    Chi tiết nhà cung cấp
                                </div>
                            </td>
                            <td style="width:auto;text-align:center;vertical-align:middle;padding:10px"><span class="glyphicon glyphicon-remove close"></span></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="text-bold">Mã nhà cung cấp:</td>
                <td><label id="detail-vendor-no"></label></td>
            </tr>
            <tr>
                <td class="text-bold">Tên nhà cung cấp:</td>
                <td><label id="detail-vendor-name"></label></td>
            </tr>
            <tr>
                <td class="text-bold">Tổng số đơn hàng:</td>
                <td><label id="detail-vendor-pocount"></label></td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4>Danh sách đơn hàng: </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align:right;font-weight:bold;height:2em;line-height:2em;">
                        Tìm:
                    </div>
                </td>
                <td><input type="text" placeholder="Mã đơn hàng ..." class="cool-text-input" id="detail-vendor-po-search" /></td>
            </tr>
            <tr>
                <td colspan="2" style="height:100%;position:relative">
                    <div id="detail-vendor-pos" style="overflow:auto;overflow-x:hidden;height:100%">
                        <!-- ajax-loaded items here ... -->                        
                    </div>
                    <div class="loading-cover">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>         
</div>    
      

@section Scripts {
    <script>
        $(function () {
            $("[data-original-title]").tooltip();
            $(".nav-tabs a").on("show.bs.tab", function (e) {
                //save the tab id so that it can be selected later (such as by Back pressing).
                sessionStorage.setItem("selectedTab", e.target.id);
            });
            if (selectedTab) {
                $("#" + selectedTab).tab("show");
            }
            $("#user-search").on("input", function () {
                var key = $(this).val().stripAccents().trim().toLowerCase();
                $(".container #users .row.item").each(function () {
                    var username = $(this).data("username").toString().stripAccents().trim().toLowerCase();
                    var fullname = $(this).data("fullname").toString().stripAccents().trim().toLowerCase();
                    $(this).toggleClass("hidden", username.indexOf(key) < 0 && fullname.indexOf(key) < 0);
                });
            });

            $("#vendor-search").on("input", function () {
                var key = $(this).val().stripAccents().trim();
                $(".container #vendors .row.item").each(function () {
                    var vendor = $(this).data("vendor").toString().stripAccents().trim().toLowerCase();
                    var vendorName = $(this).data("vendor-name").toString().stripAccents().trim().toLowerCase();
                    $(this).toggleClass("exactly-matched", vendor == key);
                    $(this).toggleClass("hidden", vendor.indexOf(key) < 0 && vendorName.indexOf(key) < 0);
                });
                var exactlyMatched = $(".container #vendors .row.item.exactly-matched").length > 0;
                //NOTE: with an empty key, all the buttons should be hidden
                $("#add-default-vendor-account-button").toggleClass("hidden", !key || exactlyMatched);
                $("#reset-vendor-account-pass-button, #view-vendor-account-detail-button").toggleClass("hidden", !key || !exactlyMatched);
            });
            $("#detail-vendor-po-search").on("input", function () {
                var vl = $(this).val().trim().toLowerCase();
                $("#detail-vendor-pos .row.item").each(function () {
                    $(this).toggleClass("hidden", vl != "" && $(this).html().toLowerCase().indexOf(vl) == -1);
                });
            });
            $("#users .row.item").click(function () {
                window.location = $(this).data("url");
            });
            //function to load PO list for a specific vendor associated with a vendor link (clicking on which will show vendor detail window)
            var loadPo = function (vendorLink) {
                var poContainer = $("#detail-vendor-pos");
                poContainer.toggleClass("loading", true);
                poContainer.html("");
                poContainer.load("@Url.Action(nameof(ManageController.LoadPurchaseOrders), "Manage")", "vendorNo=" + $(vendorLink).data("vendor"),
                    function (data, status) {                        
                        poContainer.toggleClass("loading", false);
                        var error = null;
                        if (status != "success") {
                            error = "Có lỗi kết nối khi tải dữ liệu";
                        } else if (!data) {
                            error = "Không tải được dữ liệu";
                        }
                        if (error !== null) {
                            var wrapper = $("<div>").css({"text-align" : "center", color: "red"});
                            var msg = $("<div>").html(error).css({marginBottom:"10px"});
                            var reloadButton = $("<input>", { type: "button", value:"Tải lại"}).css("color", "orange");
                            reloadButton.click(function () {
                                loadPo();
                            });
                            wrapper.append([msg, reloadButton]).appendTo(poContainer);
                        }
                    });
            }
            $("#vendors .row.item").click(function () {
                showVendorDetail(this);
                loadPo(this);
            });
            $(".vendor-detail .close").click(function () {
                hideVendorDetail();
            });
            $("#add-default-vendor-account-button, #view-vendor-account-detail-button, #reset-vendor-account-pass-button").click(function () {
                var vn = $("#vendor-search").val().trim();
                var _button = this;
                var url = "@Url.Action(nameof(ManageController.AddDefaultVendorAccount), "Manage")";
                var successMsg = "Thêm thành công";
                var requestData = { vendorNo : vn };
                var adding = true;
                if (this.id == "reset-vendor-account-pass-button") {
                    adding = false;
                    url = "@Url.Action(nameof(ManageController.ResetVendorsPass), "Manage")";
                    successMsg = "Reset mật khẩu thành công";
                    requestData = { vendors: vn };
                } else if (this.id == "view-vendor-account-detail-button") {//just show detail without posting any ajax request
                    var vendorLink = $("#vendors .row.item.exactly-matched")[0];
                    showVendorDetail(vendorLink);
                    loadPo(vendorLink);
                    return;
                }

                $.post(url, requestData , function(data, error){
                    var o = { trigger: "manual", container: "body", placement: "right" };
                    var anchor = $(_button);//default anchor is the button
                    //NOTE: adding default account should return the new HTML element on success, but 
                    //resetting password should return an empty result on success
                    var succeeded = adding ? data : !data;
                    if(error != "success"){
                        o.content = "Có lỗi kết nối, xin thử lại sau!";
                    } else if (succeeded) {
                        o.content = successMsg;
                        if (adding) {
                            //data here should be a ready-formatted HTML content for the newly added vendor account
                            var vlink = $(data).click(function () {
                                showVendorDetail(this);
                                loadPo(this);
                            });
                            $("#vendors .items-container").append(vlink);
                            $(_button).toggleClass("hidden", true);
                            //because the button is hidden, the anchor is switched to the search box
                            anchor = $("#vendor-search");
                        }
                    } else {
                        o.content = "Có lỗi không mong muốn, xin thử lại sau!";
                    }
                    anchor.popover(o)
                                  .popover("show");
                    setTimeout(function(){
                        anchor.popover("destroy");
                    }, 2000);
                });
            });

        });

    </script>
}


