﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ls = Session["role_Item"] as PoVendorPortCommon.Models.Picking.userRole_Item;
}

@if (ls.webView==0)
{
    <p>layout for mobile</p>
}
else
{
    <style>
        .left_block_25 {
            width: 25%;
            float: left
        }

        .left_block_50 {
            width: 50%;
            float: left
        }

        .pagination {
            margin: 0px !important;
        }
    </style>


    <table width="100%" class="table text-center" border="0">
        <tr class="td_header">
            <td>
                <b class="text-center" style="font-size:3vh">DANH SÁCH ĐƠN ĐỐI SOÁT</b>
            </td>
        </tr>
        <tr>
            <td>
                <!--<div class="left_block_25">
                    <input id="txtVendorNo" type="text" class="form-control" placeholder="Mã NCC" style="width:85%" onblur="fnChanged()" />
                </div>-->
                <div class="left_block_25">
                    <input id="txtOrderNo" type="text" class="form-control" placeholder="Mã đơn hàng" style="width:85%" onblur="fnChanged()" />
                </div>
                <div class="left_block_50">
                    <div class="left_block_25" style="transform: translateY(50%);">
                        Từ ngày :
                    </div>
                    <div class="left_block_50">
                        <input id="txtFromDate" type="date" class="form-control" style="width:85%" onblur="fnChanged()" />
                    </div>
                    <br /><br />
                    <div class="left_block_25" style="transform: translateY(50%);">
                        Đến ngày :
                    </div>
                    <div class="left_block_50">
                        <input id="txtToDate" type="date" class="form-control" style="width:85%" onblur="fnChanged()" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table id="tblReceivables" class="table table-striped" border="1">
                    <thead>
                        <tr>
                            <th>
                                Mã NCC
                            </th>
                            <th>
                                Tên NCC
                            </th>
                            <th>
                                Mã đơn hàng
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Ngày tạo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        var ls_Obj;
        $(window).load(function () {

            ls_Obj = @Html.Raw(Json.Encode(ViewBag.lsReport));
            FillterBy();
        });

        $(function () {
            $('#txtOrderNo').keydown(function (e) {
                if (e.keyCode == 13) {
                    FillterBy();
                }

                if ($('#txtOrderNo').val().length == 0) {
                    FillterBy();
                }
            });
        });

        function FillterBy() {

            //var vendor= $('#txtVendorNo').val();

            var order = $('#txtOrderNo').val();

            var fromdate;
            var todate;

            if ($('#txtFromDate').val().length > 0) {
                var today = new Date($('#txtFromDate').val());

                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!

                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }

                fromdate = yyyy + '' + mm + '' + dd;
            } else {
                fromdate = '19000101';
            }

            if ($('#txtToDate').val().length > 0) {
                var today = new Date($('#txtToDate').val());

                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!

                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }

                todate = yyyy + '' + mm + '' + dd;
            } else {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!

                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }

                todate = yyyy + '' + mm + '' + dd;
            }

            $("#tblReceivables > TBODY").html("");

            var today_od;

            for (i = 0; i < ls_Obj.length; i++) {

                today_od = new Date(ls_Obj[i].createdDate);
                var dd = today_od.getDate();
                var mm = today_od.getMonth() + 1; //January is 0!

                var yyyy = today_od.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }

                var od_Date = yyyy + '' + mm + '' + dd;

                if (ls_Obj[i].orderNo.substring(0, order.length) == order && od_Date >= fromdate && od_Date <= todate) {
                    var tBody = $("#tblReceivables > TBODY")[0];
                //Add Row.
                var row = tBody.insertRow(-1);

                row.setAttribute("onclick","fnDetail('"+ls_Obj[i].orderNo+"')");

                //Add Type cell
                cell = $(row.insertCell(-1));
                cell.html(ls_Obj[i].vendorNo);

                //Add Type cell
                cell = $(row.insertCell(-1));
                cell.html(ls_Obj[i].vendorName);

                //Add Type cell
                cell = $(row.insertCell(-1));
                cell.html(ls_Obj[i].orderNo);

                //Add Type cell
                cell = $(row.insertCell(-1));
                cell.html(ls_Obj[i].status_content);

                //Add Type cell
                cell = $(row.insertCell(-1));
                cell.html(ls_Obj[i].createdDate);
                }
            }
        }

        function fnDetail(strOrder) {
            //alert(strOrder);

            window.location.href = "/ComperateReport/Detail?orderNo=" + strOrder;
        }

        function fnChanged() {
            //alert($('#txtVendorNo').val());

            //alert($('#txtOrderNo').val());

            //alert($('#txtFromDate').val());

            //alert($('#txtToDate').val());

            FillterBy();
        }

    </script>

}

