﻿
@{
    ViewBag.Title = "Vendors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.Browser.IsMobileDevice)
{
    <p>Layout for mobile</p>
    @Html.ActionLink("Quay lại", "Index", "Home", null, new { @class = "btn btn-primary", @style = "float: left;" })
}
else
{
    <style>
        .left_block_25 {
            width: 25%;
            float: left
        }

        .left_block_50 {
            width: 50%;
            float: left
        }

        .pagination {
            margin: 0px !important;
        }
    </style>


    <table width="100%" class="table text-center" border="0">
        <tr class="td_header">
            <td>
                <b class="text-center" style="font-size:3vh">DANH SÁCH NHÀ CUNG CẤP</b>
            </td>
        </tr>
        <tr>
            <td>
                <div class="left_block_25">
                    <input id="txtVendorNo" type="text" class="form-control" placeholder="Mã NCC" style="width:85%" onblur="fnChanged()" />
                </div>
                @*<div class="left_block_25">
                    <input id="txtOrderNo" type="text" class="form-control" placeholder="Mã đơn hàng" style="width:85%" onblur="fnChanged()" />
                </div>*@

                @*<div class="left_block_50">
                    <div class="left_block_25" style="transform: translateY(50%);">
                        Từ ngày :
                    </div>
                    <div class="left_block_50">
                        <input id="txtFromDate" type="date" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control" style="width:85%" onblur="fnChanged()" />
                    </div>
                    <br /><br />
                    <div class="left_block_25" style="transform: translateY(50%);">
                        Đến ngày :
                    </div>
                    <div class="left_block_50">
                        <input id="txtToDate" type="date" value="@DateTime.Now.ToShortDateString()" class="form-control" style="width:85%" onblur="fnChanged()" />
                    </div>
                </div>*@
            </td>
        </tr>
        <tr>
            <td>
                <table id="tblReceivables" class="table table-striped" border="1">
                    <thead>
                        <tr>
                            <th>
                                Mã NCC
                            </th>
                            <th>
                                Tên NCC
                            </th>
                            <th>
                                Số lượng đơn
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        var ls_Obj;
        $(window).load(function () {

            ls_Obj = @Html.Raw(Json.Encode(ViewBag.ls_vd));
            //alert(ls_Obj[0].vendorName);
            FillterBy();
        });

        $(function () {
            $('#txtVendorNo').keydown(function (e) {
                if (e.keyCode == 13) {
                    FillterBy();
                }

                if ($('#txtVendorNo').val().length == 0) {
                    FillterBy();
                }
            });
        });

        function FillterBy() {

            var vendor = $('#txtVendorNo').val();

            $("#tblReceivables > TBODY").html("");

            for (i = 0; i < ls_Obj.length; i++) {

                if (ls_Obj[i].vendorNo.substring(0, vendor.length) == vendor) {
                    var tBody = $("#tblReceivables > TBODY")[0];
                    //Add Row.
                    var row = tBody.insertRow(-1);

                    row.setAttribute("onclick", "fnDetail('" + ls_Obj[i].vendorNo + "')");

                    //Add Type cell
                    cell = $(row.insertCell(-1));
                    cell.html(ls_Obj[i].vendorNo);

                    //Add Type cell
                    cell = $(row.insertCell(-1));
                    cell.html(ls_Obj[i].vendorName);

                    //Add Type cell
                    cell = $(row.insertCell(-1));
                    cell.html(ls_Obj[i].order_total);
                }
            }
        }

        function fnDetail(strOrder) {
            window.location.href = "/ComperateReport/Index?vendorNo=" + strOrder;
        }

        function fnChanged() {
            FillterBy();
        }

    </script>
}

