﻿@model PagedList.IPagedList<PoVendorPortCommon.Models.Picking.saleOut_Item>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ls = Session["role_Item"] as PoVendorPortCommon.Models.Picking.userRole_Item;
}

@if (ls.webView==0)
{
    <style>
        .td_header {
            font-size: 3vh;
            /*text-align: left;*/
            color: white;
            background-color: #1b497d;
            width: 100%;
        }

        .body-content {
            padding: 0px !important;
        }

        .tb_detail thead {
            background-color: #1b497d;
            color: white;
        }

        .pagination {
            margin: 0px !important;
        }
    </style>


    <table width="100%" class="table text-center">
        <tr class="td_header">
            <td>
                <b>DANH SÁCH CỬA HÀNG</b>
            </td>
        </tr>
        <tr>
            <td>
                <div class="text-center" style="width:100%">

                    <div style="float:left; width:80%">
                        @if (ViewBag.storeNo != null)
                        {
                            <input id="txtSearch" type="text" class="form-control" style="border-radius:10px; float:left;padding-left:65px !important; max-width:100%" value="@ViewBag.storeNo" />
                        }
                        else
                        {
                            <input id="txtSearch" type="text" class="form-control" style="border-radius:10px; float:left;padding-left:65px !important; max-width:100%" placeholder="Nhập mã CH" />
                        }

                        <img style="float:left;margin-left: -98%;width: 10%;" src="~/Image/search.png" onclick="fnRedi();" />
                    </div>
                    <div style="float:left;width: 20%;">
                        <input type="hidden" id="typeSort" value="0" />
                        <img src="~/Image/sort-down.png" id="imgSort" style="width:50%" onclick="fnSort()" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table table-striped tb_detail" border="1" style="max-width:100%">
                    <thead>
                        <tr>
                            <th>
                                Mã CH
                            </th>
                            <th>
                                Cửa hàng
                            </th>
                            <th>
                                Mã đơn
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <td>
                                Loại đơn
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr onclick="fnDetail('@item.orderNo')">

                            <td>
                                @Html.DisplayFor(modelItem => item.storeNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.storeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.orderNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status_Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.orderType)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div>
                    <div style="width:45%;float:left;">
                        <select id="slPageSize" style="width:45%;float:left" onchange="fnPagesize()" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                        <p style="float:left; margin-left:8px; transform:translateY(25%);">line/page</p>
                    </div>
                    <div style="float:right; margin:0px !important; width:55%">
                        @Html.PagedListPager(Model, page => Url.Action("Index",
         new { page, Size = @ViewBag.pageSize, sort = ViewBag.sort, storeNo = @ViewBag.storeNo }), new PagedListRenderOptions { MaximumPageNumbersToDisplay= 1,
         DisplayLinkToFirstPage=PagedListDisplayMode.Never,
         DisplayLinkToLastPage=PagedListDisplayMode.Never})
                    </div>
                </div>
            </td>
        </tr>
    </table>


}
else
{
    <style>
        .pagination {
            margin: 0px !important;
        }
    </style>
    <table width="100%" class="table text-center">
        <tr class="td_header">
            <td>
                <b class="text-center" style="font-size:3vh">DANH SÁCH CỬA HÀNG</b>
            </td>
        </tr>
        <tr>
            <td>
                <div class="text-center" style="width:100%">

                    <div style="float:left; width:80%">
                        @if (ViewBag.storeNo != null)
                        {
                            <input id="txtSearch" type="text" class="form-control" style="border-radius:10px; float:left;padding-left:65px !important; max-width:100%" value="@ViewBag.storeNo" />
                        }
                        else
                        {
                            <input id="txtSearch" type="text" class="form-control" style="border-radius:10px; float:left;padding-left:65px !important; max-width:100%" placeholder="Nhập mã CH" />
                        }

                        <img style="float:left;margin-left: -100%;width: 4%;" src="~/Image/search.png" onclick="fnRedi();" />
                    </div>
                    <div style="float:left;width: 20%;">
                        <input type="hidden" id="typeSort" value="0" />
                        <img src="~/Image/sort-down.png" id="imgSort" style="width:16%" onclick="fnSort()" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table table-striped tb_detail" border="1" style="max-width:100%">
                    <thead>
                        <tr>
                            <th>
                                Mã CỬA HÀNG
                            </th>
                            <th>
                                TÊN CỬA HÀNG
                            </th>
                            <th>
                                ĐỊA CHỈ
                            </th>
                            <th>
                                MÃ ĐƠN HÀNG
                            </th>
                            <th>
                                SỐ LƯỢNG SẢN PHẨM
                            </th>
                            <th>
                                TRẠNG THÁI
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr onclick="fnDetail('@item.orderNo')">

                            <td>
                                @Html.DisplayFor(modelItem => item.storeNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.storeName)
                            </td>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.orderNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.itemQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status_Content)
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div style="width:45%;float:left;">
                        <select id="slPageSize" style="width:30%;float:left" onchange="fnPagesize()" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                        <p style="float:left; margin-left:8px;transform: translateY(25%);">line/page</p>
                    </div>
                    <div style="float:right; width:45%">
                        @Html.PagedListPager(Model, page => Url.Action("Index",
         new { page, Size = @ViewBag.pageSize, sort = ViewBag.sort, storeNo = @ViewBag.storeNo }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = 3,
         DisplayLinkToFirstPage=PagedListDisplayMode.Never,
         DisplayLinkToLastPage=PagedListDisplayMode.Never})
                    </div>
                </div>
            </td>
        </tr>
    </table>
}


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">

	$(window).load(function () {

        $('#slPageSize').val('@ViewBag.pageSize');

        $('#typeSort').val('@ViewBag.sort');

        if(@ViewBag.sort == 1)
        {
            document.getElementById("imgSort").src = "/Image/sort-up.png";
        }
        else
        {
            document.getElementById("imgSort").src = "/Image/sort-down.png";
        }

    });

    $(function () {
        $('#txtSearch').keydown(function (e) {
            if (e.keyCode == 13) {
                fnRedi();
            }
        });
    });

	function fnRedi() {
		if ($('#txtSearch').val().length > 0) {
			window.location.href = "/SalesOut/Index?Size="+$('#slPageSize').val()+"&storeNo=" + $('#txtSearch').val()+"&sort="+$('#typeSort').val();
		} else {
			//alert("Nhập mã cửa hàng muốn tìm kiếm!");
		}

	}

    function fnPagesize() {
        window.location.href = "/SalesOut/Index?Size=" + $('#slPageSize').val() + "&storeNo=" + $('#txtSearch').val() + "&sort=" + $('#typeSort').val();
    }

    function fnSort() {
        if ($('#typeSort').val() == '1') {
            $('#typeSort').val('0');
            //document.getElementById("imgSort").src = "/Image/sort-down.png";

            fnPagesize();
        } else {
            $('#typeSort').val('1');
            //document.getElementById("imgSort").src = "/Image/sort-up.png";
            fnPagesize();
        }
    }

    function fnDetail(orderNo) {
        window.location.href = "/SalesOut/Detail?orderNo=" + orderNo;

        //window.location.href = "/SalesOut/Packing?orderNo=" + orderNo;
        
    }
</script>
