﻿@model PagedList.IPagedList<PoVendorPortCommon.Models.Picking.SalesOut_v2.TO_ItemTotal>
@using PagedList.Mvc

@{
    ViewBag.Title = "ItemList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ls = Session["role_Item"] as PoVendorPortCommon.Models.Picking.userRole_Item;
}

@if (ls == null)
{
    <script>
        window.location.href = '/SalesOut/Index';
    </script>
}
else
{
    if (ls.webView == 0)
    {
        <style>
            .td_header {
                font-size: 2vh;
                /*text-align: left;*/
                color: #223141;
                background-color: #e4e4e4;
                width: 100%;
            }

            .body-content {
                padding: 0px !important;
            }

            .tb_detail thead {
                color: #223141;
                background-color: #e4e4e4;
            }

            .pagination {
                margin: 0px !important;
            }
        </style>
        

        <div class="td_header text-center" style="width:100%;float:left">
            <div style="width:100%; float:left">
                <h4><b>TỔNG HÀNG HÓA XUẤT</b></h4>
            </div>
            <div style="width:100%; float:left">
                <table style="width:100%" class="text-center">
                    <tr>
                        <td style="width: 50%;float:left">
                            <div style="width:20%; float:left;transform: translateY(0.75vh)">
                                <b>Ngày</b>
                            </div>
                            <div style="width:80%; float:left;transform: translateY(-0.35vh);">
                                <input type="date" id="txt_dateFill" class="form-control" onchange="fnPagesize()" style="background:transparent;color:black;border:transparent;" />
                            </div>                            
                        </td>
                        <td style="width: 50%;float:left">
                            @*<div style="width:80%; float:left">
            <i>Tổng số sản phẩm :</i>
        </div>
        <div style="width:20%; float:left">
            <p id="lbTotal">@ViewBag.total</p>
        </div>*@
                            @Html.DropDownList("slRouter", (IEnumerable<SelectListItem>)ViewBag.lsRouter, new { @class = "form-control", @style = "width:100%;float:left", @onchange = "fnPagesize()" })
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>

        <div class="text-center" style="width:100%;float:left; padding:1%">

            <div style="float:left; width:65%">
                <input id="txtSearch" type="text" class="form-control" style="border-radius:10px; float:left;padding-left:65px !important; max-width:100%" placeholder="Nhập giá trị tìm kiếm" />

                <img style="float:left;margin-left: -98%;width: 3.5vh;" src="~/Image/search.png" onclick="fnPagesize();" />
            </div>
            <div style="float:left;width: 30%;">
                <select id="sl_typeFill" class="form-control">
                    <option value="1">Sản phẩm</option>
                    <option value="2">Brand</option>
                    <option value="3">Division</option>
                    <option value="4">Category</option>
                    <option value="5">Group</option>
                    <option value="6">Vendor</option>
                </select>
            </div>
        </div>




        <table class="table text-center" border="0" style="width:100%">
            <tr>
                <td>
                    <table class="table table-striped tb_detail" border="1" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    Mã SP
                                </th>
                                <th>
                                    Tên SP
                                </th>
                                <th>
                                    SL
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.itemNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.itemName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.quantity)
                                    </td>
                                    <td>
                                        @if (item.is_Done == 1)
                                        {
                                            <input class="form-control" type="checkbox" checked="checked" id="ck_@item.itemNo" onchange="fnChangedDone('@item.itemNo')" />
                                        }
                                        else
                                        {
                                            <input class="form-control" type="checkbox" id="ck_@item.itemNo" onchange="fnChangedDone('@item.itemNo')" />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div style="width:45%;float:left;">
                            <select id="slPageSize" style="width:30%;float:left" onchange="fnPagesize()" class="form-control">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                            <p style="float:left; margin-left:8px">line/page</p>
                        </div>
                        <div style="float:right; margin:0px !important; width:45%">
                            @Html.PagedListPager(Model, page => Url.Action("ItemList", new {dateFill = ViewBag.dateFill, page, Size = @ViewBag.pageSize, typeFill = @ViewBag.typeFill, dataFill = @ViewBag.dataFill, Router=@ViewBag.Router }), new PagedListRenderOptions
                            {
                                MaximumPageNumbersToDisplay = 1,
             DisplayLinkToFirstPage = PagedListDisplayMode.Never,
             DisplayLinkToLastPage = PagedListDisplayMode.Never
                            })
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="width:100%;float:left">
                        <div style="width:45%; float:left;padding:10px">

                        </div>
                    </div>
                    <div class="text-center" style="width:100%;float:left">
                        @Html.ActionLink("Xong", "StoreItem", "SalesOut", null, new { @class = "btn btn-primary" })
                    </div>

                </td>
            </tr>
        </table>


        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
        <script type="text/javascript">


            $(window).load(function () {

                $('#slPageSize').val('@ViewBag.pageSize');
                $('#txt_dateFill').val('@ViewBag.dateFill');
                document.getElementById("sl_typeFill").value =@ViewBag.typeFill;
                $('#txtSearch').val('@ViewBag.dataFill');
                document.getElementById("slRouter").value='@ViewBag.Router';
            });


            $(function () {
                $('#txtSearch').keydown(function (e) {
                    if (e.keyCode == 13) {
                        fnPagesize();
                    }

                    console.log($('#txtSearch').val().length);
                });
            });

            function fnPagesize() {
                window.location.href = "/SalesOut/ItemList?dateFill=" + $('#txt_dateFill').val() + "&typeFill=" + document.getElementById("sl_typeFill").value + "&dataFill=" + $('#txtSearch').val() + "&Size=" + $('#slPageSize').val()+"&Router="+document.getElementById("slRouter").value;
            }


            function fnChangedDone(strItemNo) {
                //alert($('#ck_' + strItemNo).is(':checked'));


                var isDone = 0;
                if ($('#ck_' + strItemNo).is(':checked') == true) {
                    $.ajax({
                    type: "POST",
                    url: "/SalesOut/save_TOItem",
                    data: '{dateFill:"' + $('#txt_dateFill').val() + '",itemNo:"' + strItemNo + '",is_Done:"1"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        if (r.length > 0) {
                            //alert("Done")
                            //ViewBag.pageNumber
                            window.location.href = "/SalesOut/ItemList?dateFill=" + $('#txt_dateFill').val() + "&typeFill=" + document.getElementById("sl_typeFill").value + "&dataFill=" + $('#txtSearch').val() + "&Size=" + $('#slPageSize').val()+"&Router="+document.getElementById("slRouter").value+"&page=@ViewBag.pageNumber";
                        } else {
                            alert("Có lỗi xảy ra thử lại sau!");
                            $('#img_Loading').css("visibility", "hidden");
                        }
                    }
                });
                } else {
                    var answer = window.confirm("Bạn muốn bỏ chọn item " + strItemNo + " ?")
                    if (answer) {
                        $.ajax({
                    type: "POST",
                    url: "/SalesOut/save_TOItem",
                    data: '{dateFill:"' + $('#txt_dateFill').val() + '",itemNo:"' + strItemNo + '",is_Done:"0"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        if (r.length > 0) {
                            //alert("Done")
                            fnPagesize();
                        } else {
                            alert("Có lỗi xảy ra thử lại sau!");
                            $('#img_Loading').css("visibility", "hidden");
                        }
                    }
                });
                    }


                    
                }

                
            }
        </script>


    }
    else
    {
        <p>
            layout for Web
        </p>
    }
}


