﻿@model PagedList.IPagedList<PoVendorPortCommon.Models.Picking.Sales_v2.SalesOut_Header>
@using PagedList.Mvc


@{
    ViewBag.Title = "StoreList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ls = Session["role_Item"] as PoVendorPortCommon.Models.Picking.userRole_Item;
}
@if (ls == null)
{
    <script>
        window.location.href = '/SalesOut/Index';
    </script>
}
else
{

    if (ls.webView == 0)
    {
        <script>
                function fnLoadDetail(storeNo) {

        //get item least

        $.ajax({
            type: "POST",
            url: "/SalesOut/getItemStoreLeast",
            data: '{dateFill:"' +  $('#txt_dateFill').val() + '",storeNo:"' + storeNo + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r.length > 0) {
                    if (r.length > 2) {
                        //alert(r);
                        alert("Các sẩn phẩm của đơn hàng chưa được xác nhận đù, thủ lại sau!");
                    } else {
                        window.location.href = '/SalesOut/subPacking?storeNo=' + storeNo;
                    }
                } else {
                    alert("Có lỗi xảy ra thử lại sau!");
                    $('#img_Loading').css("visibility", "hidden");
                }
            }
        });
    }
        </script>
        <style>
            .td_header {
                font-size: 2vh;
                color: #223141;
                background-color: #e4e4e4;
                width: 100%;
            }

            .body-content {
                padding: 0px !important;
            }

            .tb_detail thead {
                color: #223141;
                background-color: #e4e4e4;
            }

            .pagination {
                margin: 0px !important;
            }
        </style>

        <div class="text-center">

            <div class="td_header text-center" style="width:100%;float:left">
                <div style="width:100%; float:left">
                    <h4><b>DANH SÁCH CỬA HÀNG</b></h4>
                </div>
                <div style="width:100%; float:left">
                    <table style="width:100%" class="text-center">
                        <tr>
                            <td style="width: 50%;float:left">
                                <div style="width:20%; float:left;transform:translateY(0.75vh)">
                                    <b>Ngày</b>
                                </div>
                                <div style="width:80%; float:left;transform: translateY(-0.35vh);">
                                    <input type="date" id="txt_dateFill" class="form-control" onchange="fnLoadByDate()" style="background:transparent;color:black;border:transparent;" />
                                </div>
                            </td>
                            <td style="width: 50%;float:left">
                                @*<div style="width:80%; float:left">
                                        <i>Tổng số sản phẩm :</i>
                                    </div>
                                    <div style="width:20%; float:left">
                                        <p id="lbTotal"></p>
                                    </div>*@
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="text-center" style="width:100%;float:left; padding:1%">

                <div style="float:left; width:65%">
                    <input id="txtSearch" type="text" class="form-control" style="border-radius:10px; float:left;padding-left:65px !important; max-width:100%" placeholder="Nhập giá trị tìm kiếm" />

                    <img style="float:left;margin-left: -98%;width: 3.5vh;" src="~/Image/search.png" onclick="fnLoadByDate();" />
                </div>
                @*<div style="float:left;width: 30%;">
                        <select id="sl_typeFill" class="form-control">
                            <option value="1">Sản phẩm</option>
                            <option value="2">Brand</option>
                            <option value="3">Division</option>
                            <option value="4">Category</option>
                            <option value="5">Group</option>
                        </select>
                    </div>*@
            </div>





            <table id="tbl_Store" style="width:100%;" class="table table-striped tb_detail" border="1">
                <thead>
                    <tr>
                        <th>
                            Mã CH
                        </th>
                        <th>
                            Tên CH
                        </th>
                        <th>
                            SL đơn hàng
                        </th>
                        <th>
                            Số sản phẩm
                        </th>
                        <th>
                            SL sản phẩm
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.is_Packing == 1)
                        {
                            <tr style="color:#1b497d; font-weight:bolder">
                                <td>
                                    @Html.DisplayFor(modelItem => item.storeNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.storeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.total_orderNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.itemQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.totalQuantity)
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr onclick="fnLoadDetail('@item.storeNo')">

                                <td>
                                    @Html.DisplayFor(modelItem => item.storeNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.storeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.total_orderNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.itemQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.totalQuantity)
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>

            <div>
                <div style="width:45%;float:left;">
                    <select id="slPageSize" style="width:30%;float:left" onchange="fnLoadByDate()" class="form-control">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <p style="float:left; margin-left:8px">line/page</p>
                </div>
                <div style="float:right; margin:0px !important; width:45%">
                    @Html.PagedListPager(Model, page => Url.Action("StoreList", new { dateFill = ViewBag.dateFill, page, Size = @ViewBag.pageSize, storeNo = @ViewBag.storeNo, sort = @ViewBag.sort }), new PagedListRenderOptions
                    {
                        MaximumPageNumbersToDisplay = 1,
     DisplayLinkToFirstPage = PagedListDisplayMode.Never,
     DisplayLinkToLastPage = PagedListDisplayMode.Never
                    })
                </div>
            </div>
        </div>
    }
    else
    {
        <script>
                function fnLoadDetail(storeNo) {

        //get item least

        $.ajax({
            type: "POST",
            url: "/SalesOut/getItemStoreLeast",
            data: '{dateFill:"' +  $('#txt_dateFill').val() + '",storeNo:"' + storeNo + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r.length > 0) {

                    if (r.length > 2) {
                        var answer = window.confirm("Các sẩn phẩm của đơn hàng chưa được xác nhận đù. Xem các sp được yêu cầu duyệt?")
                        if (answer) {
                            window.location.href = 'AcceptItemWait?dateFill=' + $('#txt_dateFill').val();
                        }
                    } else {
                        window.location.href = 'AcceptPacking?dateFill=' + $('#txt_dateFill').val() + '&storeNo=' + storeNo;
                    }
                    

                } else {
                    alert("Có lỗi xảy ra thử lại sau!");
                    $('#img_Loading').css("visibility", "hidden");
                }
            }
        });
    }
        </script>

        <style>
            .td_header {
                font-size: 2vh;
                color: #223141;
                background-color: #e4e4e4;
                width: 100%;
            }

            .body-content {
                padding: 0px !important;
            }

            .tb_detail thead {
                color: #223141;
            }

                </style>

<div class="text-center">

    <div class="td_header text-center" style="width:100%;float:left">
        <div style="width:100%; float:left">
            <h4><b>DANH SÁCH CỬA HÀNG</b></h4>
        </div>
        <div style="width:100%; float:left">
            <table style="width:100%" class="text-center">
                <tr>
                    <td style="width: 50%;float:left">
                        
                    </td>
                    <td style="width: 50%;float:left">
                        @*<div style="width:80%; float:left">
                                <i>Tổng số sản phẩm :</i>
                            </div>
                            <div style="width:20%; float:left">
                                <p id="lbTotal"></p>
                            </div>*@
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="text-center" style="width:100%;float:left; padding:1%">

        <div style="float:left; width:50%">
            <div style="width:20%; float:left;transform:translateY(0.75vh)">
                <b>Ngày</b>
            </div>
            <div style="width:80%; float:left;transform: translateY(-0.35vh);">
                <input type="date" id="txt_dateFill" class="form-control" onchange="fnLoadByDate()" style="background:transparent;color:black;border:transparent;" />
            </div>
        </div>

            <div style="float:left; width:50%">
                <input id="txtSearch" type="text" class="form-control" style="border-radius:10px; float:left;padding-left:65px !important; max-width:100%" placeholder="Nhập giá trị tìm kiếm" />

                <img style="float:left;margin-left: -98%;width: 3.5vh;" src="~/Image/search.png" onclick="fnLoadByDate();" />
            </div>
            @*<div style="float:left;width: 30%;">
                <select id="sl_typeFill" class="form-control">
                    <option value="1">Sản phẩm</option>
                    <option value="2">Brand</option>
                    <option value="3">Division</option>
                    <option value="4">Category</option>
                    <option value="5">Group</option>
                </select>
            </div>*@
        </div>

        <table id="tbl_Store" style="width:100%;" class="table table-striped tb_detail" border="1">
            <thead>
                <tr>
                    <th>
                        Mã CH
                    </th>
                    <th>
                        Tên CH
                    </th>
                    <th>
                        SL đơn hàng
                    </th>
                    <th>
                        Số sản phẩm
                    </th>
                    <th>
                        SL sản phẩm
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.is_Packing == 1)
                    {
                        <tr style="color:#1b497d; font-weight:bolder" onclick="fnLoadDetail('@item.storeNo')">
                            <td>
                                @Html.DisplayFor(modelItem => item.storeNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.storeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total_orderNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.itemQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.totalQuantity)
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="fnLoadDetail('@item.storeNo')">

                            <td>
                                @Html.DisplayFor(modelItem => item.storeNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.storeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total_orderNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.itemQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.totalQuantity)
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>

        <div>
            <div style="width:45%;float:left;">
                <select id="slPageSize" style="width:30%;float:left" onchange="fnLoadByDate()" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
                <p style="float:left; margin-left:8px">line/page</p>
            </div>
            <div style="float:right; margin:0px !important; width:45%">
                @Html.PagedListPager(Model, page => Url.Action("StoreList", new { dateFill = ViewBag.dateFill, page, Size = @ViewBag.pageSize, storeNo = @ViewBag.storeNo, sort = @ViewBag.sort }), new PagedListRenderOptions
                {
                    MaximumPageNumbersToDisplay = 1,
    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
    DisplayLinkToLastPage = PagedListDisplayMode.Never
                })
            </div>
        </div>
    </div>
    }
}


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">

    $(window).load(function () {

        $('#txt_dateFill').val('@ViewBag.dateFill');
        $('#txtSearch').val('@ViewBag.storeNo');
        $('#slPageSize').val('@ViewBag.pageSize');
    });

    $(function () {
        $('#txtSearch').keydown(function (e) {
            if (e.keyCode == 13) {
                fnLoadByDate();
            }
        });
    });

    function fnLoadByDate() {
        window.location.href = "/SalesOut/StoreList?dateFill=" + $('#txt_dateFill').val() + "&storeNo=" + $('#txtSearch').val() + "&Size=" + $('#slPageSize').val();
    }
</script>
