﻿@model List<PoVendorPortCommon.Models.Picking.Packing.boxType_Item>

@{
    ViewBag.Title = "subPacking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ls = Session["role_Item"] as PoVendorPortCommon.Models.Picking.userRole_Item;
}

@if (ls.webView == 0)
{
    <style>
        .td_header {
            font-size: 2vh;
            color: #223141;
            background-color: #e4e4e4;
            width: 100%;
        }

        .body-content {
            padding: 0px !important;
        }

        .tb_detail thead {
            color: #223141;
            background-color: #e4e4e4;
        }

        .pagination {
            margin: 0px !important;
        }
    </style>

    <div class="td_header text-center" style="width:100%;float:left">

        <div style="width:100%; float:left">
            @if (ViewBag.header_info != null)
            {
                <h4><b>@ViewBag.header_info.storeName</b></h4>
            }
            else
            {
                <h4><b>DANH SÁCH ĐÓNG GÓI</b></h4>
            }

        </div>
        <div style="width:100%; float:left">
            <table style="width:100%" class="text-center">
                <tr>
                    <td style="width: 50%;float:left">
                        <div style="width:20%; float:left;transform:translateY(0.75vh);">
                            <b>Ngày</b>
                        </div>
                        <div style="width:80%; float:left;transform: translateY(-0.35vh);">
                            <input type="date" id="txt_dateFill" class="form-control" onchange="fnPagesize()" style="background:transparent;color:black;border:transparent;" />
                        </div>
                    </td>
                    <td style="width: 50%;float:left">
                        <div style="width:80%; float:left">
                            <i>Tổng số sản phẩm :</i>
                        </div>
                        <div style="width:20%; float:left">
                            @if (ViewBag.header_info != null)
                            {
                                <p>@ViewBag.header_info.totalQuantity</p>
                            }
                            else
                            {
                                <p id="lbTotal"></p>
                            }

                        </div>
                    </td>
                </tr>
            </table>
        </div>
        </div>
        <div style="width:100%; float:left">
            <table width="100%" class="table text-center">
                <tr>
                    @*<td>
                        <div class="text-center" style="width:100%">
                            <p style="float:left; width:45%;transform: translateY(45%);">Số lượng kiện hàng</p>
                            <input style="width:20%; float:left" type="text" id="txtpackTotal" class="form-control" value="0" onkeypress="fnIntC('txtpackTotal')" />
                            <input style="width:25%; float:left; margin-left:5%" type="button" class="form-control btn-primary" value="Nhập" onclick="fnlsDetail()" />
                            <input type="hidden" id="txtIs_A" value="0" />
                        </div>
                    </td>*@
                </tr>
                <tr>
                    <td>
                        <table id="tbl_PackingLine" class="table table-striped tb_detail" border="1" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Mã
                                    </th>
                                    <th>
                                        Tên loại hộp
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.boxCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.boxName)
                                            <input type="hidden" value="@item.volume" />
                                        </td>
                                        <td>
                                            <input type="text" id="@item.boxCode" onkeyup="fnIntC('@item.boxCode');" class="form-control" value="0"/>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="text-center">
            <input type="button" value="Hoàn thành" class="btn btn-primary" onclick="fbSave()" />
        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
        <script type="text/javascript">

        $(window).load(function () {

            $('#txt_dateFill').val('@ViewBag.dateFill');
        });


        function fnIntC(strId) {
            var n = parseInt($('#' + strId).val().replace(/\D/g, ''), 10);
            if (n.toLocaleString() != 'NaN') {
                $('#' + strId).val(n.toLocaleString());
            } else {
                $('#' + strId).val('0');
            }
        }

        function fbSave() {


            //alert("Lưu thành công!");
            //window.location = '/SalesOut/Index';
            //raw data

            var dateD = $('#txt_dateFill').val();

            //buid param

            var is_scc = 0;

            var receivables = new Array();
            $("#tbl_PackingLine TBODY TR").each(function () {
                var row = $(this);
                var receivable = {};

                receivable.orderNo = @ViewBag.header_info.storeNo+'/' + dateD.replace(/-/g,"");
                receivable.boxCode = row.find("TD").eq(0).html();
                receivable.packTotal = row.find("TD").eq(2).find("input").val();
                receivable.coreVolume= row.find("TD").eq(1).find("input").val();

                receivables.push(receivable);

                if (row.find("TD").eq(2).find("input").val() != '0') {
                    is_scc = 1;
                }
            });

            if (is_scc == 1) {

                $.ajax({
                type: "POST",
                url: "/SalesOut/savePacking",
                data: JSON.stringify(receivables),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                    success: function (r) {
                        if (r.length > 0) {
                            var sub = JSON.parse(r);
                            if (sub.code == 0) {
                                alert(sub.mess);
                            } else {
                                window.location.href = '/SalesOut/StoreList';
                            }
                        } else {
                            alert("Có lỗi sảy ra thử lại sau!");
                        }
                    }
                });
            } else {
                alert("Kiểm tra lại số lượng kiện hàng!");
            }
        }
        </script>


        }
        else
        {
        <p>layout for web</p>
        }

