﻿@model PagedList.IPagedList<PoVendorPortCommon.Models.Picking.saleIn_Item>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ls = Session["role_Item"] as PoVendorPortCommon.Models.Picking.userRole_Item;
}

@if (ls.webView == 0)
{
    <style>
        .td_header {
            font-size: 2.4vh;
            /*text-align: left;*/
            color: white;
            background-color: #1b497d;
            width: 100%;
        }

        .body-content {
            padding: 0px !important;
        }


        .tb_detail thead {
            background-color: #1b497d;
            color: white;
        }

        .pagination {
            margin: 0px !important;
        }
    </style>

    <table width="100%" class="table text-center">
        @if (@ViewBag.vd_info != null)
        {
            <tr class="td_header">
                <td>
                    <b style="font-size:3vh">@ViewBag.vd_info.vendorName</b>
                    <div style="width:100%">
                        <table class="td_header" style="text-align:left">
                            <tr>
                                <td style="width:60%">
                                    @if (ls.typeGroup == 1)
                                    {
                                        <i>Mã kho</i>
                                    }
                                    else
                                    {
                                        <i>Mã NCC</i>
                                    }
                                </td>
                                <td>
                                    @ViewBag.vd_info.vendorNo
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i>Tổng số đơn</i>
                                </td>
                                <td>
                                    @ViewBag.vd_info.quantityOrder
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        }

        <tr>
            <td>
                <div class="text-center" style="width:100%">

                    <div style="float:left; width:80%">
                        @if (ViewBag.order != null)
                        {
                            <input id="txtSearch" type="text" class="form-control" style="border-radius:10px; float:left;padding-left:65px !important; max-width:100%" value="@ViewBag.order" />
                        }
                        else
                        {
                            <input id="txtSearch" type="text" class="form-control" style="border-radius:10px; float:left;padding-left:65px !important; max-width:100%" placeholder="Nhập mã đơn hàng" />
                        }

                        <img style="float:left;margin-left: -98%;width: 10%;" src="~/Image/search.png" onclick="fnRedi()" />
                    </div>
                    <div style="float:left;width: 20%;">
                        <input type="hidden" id="typeSort" value="0" />
                        <img src="~/Image/sort-down.png" id="imgSort" style="width:50%" onclick="fnSort()" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table table-striped tb_detail" border="1" style="max-width:100%">
                    <thead>
                        <tr>
                            <th>
                                Mã ĐƠN HÀNG
                            </th>
                            <td>
                                TRẠNG THÁI
                            </td>
                            <td>
                                Ngày tạo
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.is_checkList > 0)
                            {
                                <tr onclick="fnDetail('@item.orderNo')">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderNo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.status_Content)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.createdDate)
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr onclick="fnCheck('@item.orderNo')">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderNo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.status_Content)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.createdDate)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div style="width:45%;float:left;">
                        <select id="slPageSize" style="width:45%;float:left" onchange="fnPagesize()" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                        <p style="float:left; margin-left:8px">line/page</p>
                    </div>
                    <div style="float:right; margin:0px !important; width:45%">
                        @Html.PagedListPager(Model, page => Url.Action("Orders", new { vendorNo = @ViewBag.vendorNo, page, Size = @ViewBag.pageSize, order = @ViewBag.order, sort = @ViewBag.sort }), new PagedListRenderOptions
                        {
                            MaximumPageNumbersToDisplay = 1,
         DisplayLinkToFirstPage = PagedListDisplayMode.Never,
         DisplayLinkToLastPage = PagedListDisplayMode.Never
                        })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Quay lại", "Index", "SalesIn", null, new { @class = "btn btn-primary", @style = "float: left;" })
            </td>
        </tr>
    </table>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">

    $(window).load(function () {

        //loadListOrder();

        $('#slPageSize').val('@ViewBag.pageSize');

        $('#typeSort').val('@ViewBag.sort');

        if(@ViewBag.sort == 1)
        {
            document.getElementById("imgSort").src = "/Image/sort-up.png";
        }
        else
        {
            document.getElementById("imgSort").src = "/Image/sort-down.png";
        }

    });

        $(function(){
    $('#txtSearch').keydown(function(e){
        if (e.keyCode == 13) {
            fnRedi();
        }
    });
});

    function fnRedi() {
        if ($('#txtSearch').val().length > 0) {
            window.location.href = "/SalesIn/Orders?vendorNo=@ViewBag.vendorNo&order=" + $('#txtSearch').val() + "&Size=" + $('#slPageSize').val() + "&sort=" + $('#typeSort').val();
        } else {
            //alert("Nhập mã nhà cung muốn tìm kiếm!");
        }

    }

    function fnPagesize() {
        window.location.href = "/SalesIn/Orders?vendorNo=@ViewBag.vendorNo&order=" + $('#txtSearch').val() + "&Size=" + $('#slPageSize').val() + "&sort=" + $('#typeSort').val();
    }

    function fnSort() {
        if ($('#typeSort').val() == '1') {

            $('#typeSort').val('0');
            //document.getElementById("imgSort").src = "/Image/sort-down.png";

            fnPagesize();
        } else {
            $('#typeSort').val('1');
            //document.getElementById("imgSort").src = "/Image/sort-up.png";

            fnPagesize();
        }
    }

    function fnDetail(orderNo) {
        window.location.href = "/SalesIn/Detail?orderNo=" + orderNo;
        }

        function fnCheck(orderNo) {
            window.location.href = "/SalesIn/CheckList?orderNo=" + orderNo;
        }
    </script>
}
else
{
    <style>
        .td_header {
            color: white;
            background-color: #1b497d;
            width: 100%;
            padding: 10px;
        }

        .tr_header {
            border-top: 0px solid #ddd !important;
        }

        .body-content {
            padding: 0px !important;
        }

        .tb_detail > thead {
            background-color: #1b497d;
            color: white;
        }
    </style>


    <div class="title">
        <h3 class="text-center">Duyệt nhập kho</h3>
    </div>
    <div class="vendor-name">
        @if (ls.typeGroup == 1)
        {
            <label style="margin-right:5px;margin-left:5px">Kho hàng: </label>
        }
        else
        {
            <label style="margin-right:5px;margin-left:5px">Nhà cung cấp: </label>
        }

        <span id="txtVendorName">@ViewBag.vd_info.vendorName</span>
    </div>
    @Html.ActionLink("Quay lại", "Index", "SalesIn", null, new { @class = "btn btn-primary", @style = "float: left;" })
    <br />
    <br />
    <div class="po-list expanded" id="pos">
        <div class="header">
            <div class="po-list-caption">
                Đơn hàng
            </div>
            <div>
                <label>Tìm</label><input type="text" class="cool-text-input" placeholder="Mã đơn hàng..." id="po-search" onchange="sub_loadListOrder()" />
            </div>
            <button class="nav-button"><span class='glyphicon glyphicon-chevron-left'></span></button>
        </div>
        <div class="body default-skin">
            <ul id="listOrder"></ul>
        </div>
    </div>

    <div id="approve-errors" class="noerror text-danger"></div>

    <table style="width:100%" border="0">
        <tr class="td_header">
            <td style="padding:1%">
                <table style="width:100%;margin-bottom: 0px !important;" class="table" border="0">
                    <tr>
                        <td class="tr_header">
                            <div style="width:100%">
                                <div style="float:left; width:40%">
                                    Mã đơn hàng:
                                </div>
                                <div id="txtOrderNo" style="float:left; width:40%">

                                </div>
                            </div>
                        </td>
                        <td class="tr_header">
                            <input id="txtSearch" class=" form-control" type="text" style="height:8%;border-radius:10px; max-width:100%" placeholder="Tìm sản phẩm" onblur="fill_Item()" />
                        </td>
                        <td class="tr_header">
                        </td>
                        <td rowspan="4" class="tr_header text-center">

                            @if (ls.editAction == 1)
                            {
                                <input type="button" id="btnSave" class="btn-primary" disabled="disabled" style="padding: 27px;width: 100%;border-radius: 10px;" value=" XÁC THỰC" onclick="fnSaveRaw()" />
                            }
                            else if (ls.acceptAction == 1)
                            {
                                <input type="button" id="btnSave" class="btn-primary" disabled="disabled" style="padding: 27px;width: 100%;border-radius: 10px;" value=" XÁC THỰC" onclick="fnSave()" />
                            }
                            else
                            {
                                <input type="button" id="btnSave" class="btn-primary" disabled="disabled" style="padding: 27px;width: 100%;border-radius: 10px;background-color:gray" value=" XÁC THỰC" />
                            }


                            <div>
                                <br />
                            </div>

                            <div>
                                <div style="width:45%; float:left">
                                    <input class="btn-info" type="button" style="padding: 10px;width: 100%;border-radius: 10px;" value="Đơn trước" onclick="fnBefor()" />
                                </div>
                                <div style="width:45%; float:right">
                                    <input class="btn-info" type="button" style="padding: 10px;width: 100%;border-radius: 10px;" value="Đơn tiếp" onclick="fnAfter()" />
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="tr_header">
                            <div style="width:100%">
                                <div style="float:left; width:40%">
                                    Ngày đặt hàng
                                </div>
                                <div id="txtOrderDate" style="float:left; width:40%">

                                </div>
                            </div>
                        </td>
                        <td id="txtTotalEdit" class="tr_header">
                        </td>
                        <td class="tr_header">
                        </td>
                    </tr>

                    <tr>
                        <td class="tr_header">
                            <div style="width:100%">
                                <div style="float:left; width:40%">
                                    Trạng thái
                                </div>
                                <div id="txtStatus" style="float:left; width:40%">

                                </div>
                            </div>
                        </td>
                        <td class="tr_header">
                            <div  style="float:left; width:40%">
                                <a id="lb_Ck" style="display:none" data-toggle="modal" data-target="#modalDetails">Checkist giao hàng</a>
                            </div>
                        </td>
                        <td class="tr_header">
                        </td>
                    </tr>

                    <tr>
                        <td class="tr_header">
                            <div style="width:100%">
                                <div style="float:left; width:40%">
                                    Tên kho
                                </div>
                                <div id="txtStoreName" style="float:left; width:40%">

                                </div>
                            </div>
                        </td>
                        <td id="txtStoreAddress" class="tr_header" colspan="2">
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table id="tblReceivables" class="table table-striped table-fixed" border="1" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                MÃ SẢN PHẨM
                            </th>
                            <th>
                                TÊN SẢN PHẨM
                            </th>
                            <th>
                                MÃ KHO
                            </th>
                            <th>
                                ĐƠN GIÁ
                            </th>
                            <th>
                                SỐ LƯỢNG ĐẶT
                            </th>
                            <th>
                                SỐ LƯỢNG GIAO
                            </th>
                            <th>
                                THỜI GIAN GIAO
                            </th>
                            <th>
                                NGÀY GIAO
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

    <div class="modal fade bd-example-modal-lg" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="false">
        <div class="modal-dialog modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <h3 style="margin:15px;" class="modal-title text-center">Checklist giao hàng</h3>
                <div class="modal-body">
                    <table id="tbl_Ckl" class="table table-hover" border="0">
                        <tbody>
                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">

        var order_id;
        var order_detail;
        var ls_fruits=[];

        $(window).load(function () {
            loadListOrder();
        });

        $(function () {
            $('#txtSearch').keydown(function (e) {
                if (e.keyCode == 13) {
                    fill_Item();
                }

                console.log($('#txtSearch').val().length);

                if ($('#txtSearch').val().length == 0) {
                    fill_Item();
                }



            });
        });

        function loadListOrder() {

            $.ajax({
                type: "POST",
                url: "/SalesIn/getListOrder",
                data: '{orderNo:"' + $('#po-search').val() + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r.length > 0) {
                        var ul = document.getElementById("listOrder");
                        //ul.innerHTML = "";

                        var sub = JSON.parse(r);

                        ls_fruits = [];

                        for (var i in sub) {


                            ls_fruits.push(sub[i].orderNo);


                            var li = document.createElement("li");
                            li.appendChild(document.createTextNode(sub[i].orderNo));
                            li.setAttribute("id", sub[i].orderNo); // added line
                            li.setAttribute("onclick", "detailOrder('" + sub[i].orderNo + "')");
                            ul.appendChild(li);
                        }

                        detailOrder(sub[0].orderNo);

                    } else {
                        alert("Có lỗi xảy ra thử lại sau!");
                        $('#img_Loading').css("visibility", "hidden");
                    }
                }
            });
        }

        function detailOrder(orderNo) {
            //alert(orderNo);
            loadOrderHeader(orderNo);

            loadOrderDetail(orderNo);

            loadCheckList(orderNo);
        }

        function loadOrderHeader(orderNo) {
            $.ajax({
                type: "POST",
                url: "/SalesIn/getOrder_Header",
                data: '{orderNo:"' + orderNo + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r.length > 0) {

                        var sub = JSON.parse(r);
                        //alert(r);

                        if ((@ls.acceptAction== 1 || @ls.editAction ==1) && sub.status_code == @ls.level_m-1) {
                            $('#btnSave').removeAttr('disabled');
                            $('#btnSave').attr("style", "padding: 27px;width: 100%;border-radius: 10px;");
                        } else {
                            $('#btnSave').attr("disabled", "disabled");
                            //background-color: gray;
                            $('#btnSave').attr("style", "background-color: gray;padding: 27px;width: 100%;border-radius: 10px;");
                        }

                        document.getElementById("txtVendorName").innerHTML = sub.vendorName;

                        document.getElementById("txtOrderNo").innerHTML = sub.orderNo;

                        document.getElementById("txtOrderDate").innerHTML = sub.createdDate;

                        document.getElementById("txtStatus").innerHTML = sub.status_Content;

                        document.getElementById("txtStatus").setAttribute("style", "color:" + sub.status_color);

                        document.getElementById("txtStoreName").innerHTML = sub.storeNo;

                        //document.getElementById("txtStoreAddress").innerHTML = "Địa chỉ :-----------------------------------Số ĐT ";

                    } else {
                        alert("Có lỗi xảy ra thử lại sau!");
                        $('#img_Loading').css("visibility", "hidden");
                    }
                }
            });
        }

        function loadOrderDetail(orderNo) {
            $.ajax({
                type: "POST",
                url: "/SalesIn/getOrder_Detail",
                data: '{orderNo:"' + orderNo + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r.length > 0) {

                        order_detail = r;

                        var rt = JSON.parse(r);

                        $("#tblReceivables > TBODY").html("");

                        for (var i in rt) {
                            //Get the reference of the Table's TBODY element.
                            var tBody = $("#tblReceivables > TBODY")[0];

                            //Add Row.
                            var row = tBody.insertRow(-1);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].itemNo);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].itemName);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].storeNo);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].corePrice);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].orderQuantity);

                            //Add Type cell
                            cell = $(row.insertCell(-1));

                            if (@ls.editAction== 1 && rt[i].status<@ls.level_m) {
                                cell.html('<input class="form-control" type="text" id="real_'+ rt[i].itemNo + '" value="' + rt[i].realQuantity + '" onblur="fnInQuantity(\'real_' + rt[i].itemNo + '\')" />');
                            } else {
                                cell.html(rt[i].realQuantity);
                            }

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].modifyDate.split(' ')[1]);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].modifyDate.split(' ')[0]);
                        }

                    } else {
                        alert("Có lỗi xảy ra thử lại sau!");
                        $('#img_Loading').css("visibility", "hidden");
                    }
                }
            });
        }

        function loadCheckList(orderNo) {
            //getCheckResult

            $('#lb_Ck').attr("style", "display: none;");

            $("#tbl_Ckl > TBODY").html("");

            $.ajax({
                type: "POST",
                url: "/SalesIn/getCheckResult",
                data: '{orderNo:"' + orderNo + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r.length > 5) {

                        order_detail = r;

                        var rt = JSON.parse(r);

                        for (var i in rt) {
                            //Get the reference of the Table's TBODY element.
                            var tBody = $("#tbl_Ckl > TBODY")[0];

                            //Add Row.
                            var row = tBody.insertRow(-1);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].codeCheck);


                            cell = $(row.insertCell(-1));

                            if (rt[i].is_codeCheck == 1) {
                                cell.html(rt[i].nameCheck);
                            } else {
                                cell.html('<p>' + rt[i].sub_nameCheck + '</p><p style="color:orangered" >' + rt[i].descriptions+'</p >');
                            }

                            cell = $(row.insertCell(-1));

                            if (rt[i].inputType == 1) {
                                if (rt[i].is_codeCheck == 1) {
                                    cell.html(' <p style="color:green; font-size:2vh;">&radic;</p>');
                                } else {
                                    cell.html('<p style="color:orange; font-size:2vh;">&radic;</p>');
                                }
                            } else {
                                cell.html(rt[i].is_codeCheck);
                            }
                            

                        }

                        if(r.length > 5){
                            $('#lb_Ck').attr("style","display: block;");
                        }

                    } else {
                        //alert("Có lỗi xảy ra thử lại sau!");
                        $('#img_Loading').css("visibility", "hidden");
                    }
                }
            });
        }

        function fill_Item() {

            if (order_detail.length > 0) {
                var rt = JSON.parse(order_detail);
                $("#tblReceivables > TBODY").html("");

                for (var i in rt) {

                    var item_s = $('#txtSearch').val();

                    var tBody = $("#tblReceivables > TBODY")[0];

                    if (rt[i].itemNo.toLocaleString().substring(0, item_s.length) == item_s) {

                        var tBody = $("#tblReceivables > TBODY")[0];

                            //Add Row.
                            var row = tBody.insertRow(-1);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].itemNo);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].itemName);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].storeNo);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].corePrice);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].orderQuantity);

                            //Add Type cell
                            cell = $(row.insertCell(-1));

                            if (@ls.editAction== 1 && rt[i].status<@ls.level_m) {
                                cell.html('<input class="form-control" type="text" id="real_'+ rt[i].itemNo + '" value="' + rt[i].realQuantity + '" onblur="fnInQuantity(\'real_' + rt[i].itemNo + '\')" />');
                            } else {
                                cell.html(rt[i].realQuantity);
                            }

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].modifyDate.split(' ')[1]);

                            //Add Type cell
                            cell = $(row.insertCell(-1));
                            cell.html(rt[i].modifyDate.split(' ')[0]);

                    }
                }
            }

        }

        function fnInQuantity(id_rr) {
            //var x = $('#' + id_rr).val();

            var n = parseInt($('#' + id_rr).val().replace(/\D/g, ''), 10);
            if (n.toLocaleString() != 'NaN') {
                $('#' + id_rr).val(n.toLocaleString());
            } else {
                $('#' + id_rr).val('0');
            }

            var itN = id_rr.split("_");

            //save quantity changed

            $.ajax({
                type: "POST",
                url: "/SalesIn/changedQuantity",
                data: '{orderNo:"' + $('#txtOrderNo').text() + '",itemNo:"' + itN[1] + '",quantity:' + $('#' + id_rr).val() + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r.length > 0) {
                        //alert("Done")

                    } else {
                        alert("Có lỗi xảy ra thử lại sau!");
                        $('#img_Loading').css("visibility", "hidden");
                    }
                }
            });
        }

        function fnSaveRaw() {
            $.ajax({
                type: "POST",
                url: "/SalesIn/rawSave",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r.length > 0) {
                        alert("Lưu và xác nhận đơn " + $('#txtOrderNo').text() + " thành công!");
                        fnAfter();

                    } else {
                        alert("Có lỗi xảy ra thử lại sau!");
                        $('#img_Loading').css("visibility", "hidden");
                    }
                }
            });
        }

        function fnSave() {
            $.ajax({
                type: "POST",
                url: "/SalesIn/AcceptOrder",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r.length > 0) {
                        alert("Lưu và xác nhận đơn " + $('#txtOrderNo').text() + " thành công!");
                        fnAfter();
                    } else {
                        alert("Có lỗi xảy ra thử lại sau!");
                        $('#img_Loading').css("visibility", "hidden");
                    }
                }
            });
        }

        function fnAfter() {
            var b = ls_fruits.indexOf($('#txtOrderNo').text());
            if (b == ls_fruits.length - 1) {
                detailOrder(ls_fruits[b]);
                alert("Đang ở đơn cuối cùng!");
            } else {
                 detailOrder(ls_fruits[b+1]);
            }

        }

        function fnBefor() {
            var b = ls_fruits.indexOf($('#txtOrderNo').text());
            if (b == 0) {
                detailOrder(ls_fruits[b]);
                alert("Đang ở đơn đầu tiên!");
            } else {
                 detailOrder(ls_fruits[b-1]);
            }

        }

    </script>

}






